/*
 * Contents
*/
.contents {
  &.site {
    width: $docsSiteContentWidth;
    min-height: 600px;
    margin: 0 auto;
    padding-top: 40px;
    @include clearfix;
  }

  &.docs {
    float: left;
    width: $docsSiteContentWidth - $docsSideBarWidth;
    //margin-left: $docsSideBarWidth;

    > h2 {
      margin-bottom: 20px;
      font-size: 36px;
      line-height: 42px;
    }
    > h3 {
      margin: 20px 0;
      font-size: 30px;
      line-height: 1.5;
    }
    > h4 {
      margin: 20px 0;
      font-size: 24px;
      line-height: 1.5;
    }

    > p {
      margin-bottom: 10px;
      line-height: 1.6;
    }

    > pre {
      margin-bottom: 20px;
    }
  }
}

/*
 * Box
*/
.box {
  &.article {
    &.example {
      margin: 25px 0;
    }
  }
}
