:not(pre) > code,
:not(pre) > kbd,
:not(pre) > samp {
  font-size: 12px;
  font-family: Consolas,monospace,serif;
  color: #D05;
  white-space: nowrap;
  padding: 0 4px;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  background: #fafafa;
}

pre {
  padding: 10px;
  background: #fafafa;
  font: 12px/18px Consolas,monospace,serif;
  color: #666;
  -moz-tab-size: 4;
  tab-size: 4;
  overflow: auto;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
}