/*
 * Button Style
*/
$btnShadow: rgba(0, 0, 0, 0.13) 0 -2px 0 0 inset;

$btnDefaultWidth: 140px;

// size (width)
$btnNarrow: 65px;
$btnShort: 90px;
$btnLong: 240px;
$btnWide: 380px;
$btnFree: 100%;

// size (height)
$btnLower: 20px;
$btnLow: 25px;
$btnHigh: 40px;
$btnLofty: 50px;

@mixin baseBtnStyle {
  display: inline-block;
  width: 100%;
  min-height: 30px;
  padding: 0 12px;
  background: $colorDefault;
  border-radius: 4px;
  border: $colorBorderDefault 1px solid;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: #6A6A6A;
  cursor: pointer;
  font-size: 14px;
  line-height: 28px;
  vertical-align: top;
  &:not(.disable):hover {
    background: $colorHoverDefault;
  }
}

/* Primary */
@mixin primaryBtnStyle {
  border-color: $colorBorderPrimary;
  background: $colorPrimary;
  color: #fff;
  &:not(.disable):hover {
    background: $colorHoverPrimary;
  }
}

@mixin greenBtnStyle {
  border-color: $colorBorderGreen;
  background: $colorGreen;
  color: #fff;
  &:not(.disable):hover {
    background: $colorHoverGreen;
  }
}

@mixin blueBtnStyle {
  border-color: $colorBorderBlue;
  background: $colorBlue;
  color: #fff;
  &:not(.disable):hover {
    background: $colorHoverBlue;
  }
}

@mixin orangeBtnStyle {
  border-color: $colorBorderOrange;
  background: $colorOrange;
  color: #fff;
  &:not(.disable):hover {
    background: $colorHoverOrange;
  }
}

@mixin redBtnStyle {
  border-color: $colorBorderRed;
  background: $colorRed;
  color: #fff;
  &:not(.disable):hover {
    background: $colorHoverRed;
  }
}


/* Atomic */
.btn,
.btn:not(a) {
  position: relative;
  display: inline-block;
  min-width: $btnDefaultWidth;
  box-sizing: border-box;
  vertical-align: middle;

  /* Atomic */
  > a,
  > button,
  > input {
    @include baseBtnStyle;
  }

  /* State */
  // size
  &.mini {
    min-width: $btnNarrow;
    > a,
    > button,
    > input {
      min-height: $btnLower;
      padding: 0 6px;
      line-height: $btnLower;
      font-size: 11px;
    }
  }
  &.small {
    min-width: $btnShort;
    > a,
    > button,
    > input {
      min-height: $btnLow;
      padding: 0 10px;
      line-height: $btnLow;
      font-size: 12px;
    }
  }
  &.large {
    min-width: $btnLong;
    > a,
    > button,
    > input {
      min-height: $btnHigh;
      padding: 0 15px;
      border-radius: 6px;
      line-height: $btnHigh;
      font-size: 15px;
    }
  }
  &.big {
    min-width: $btnWide;
    > a,
    > button,
    > input {
      min-height: $btnLofty;
      padding: 0 15px;
      border-radius: 6px;
      line-height: $btnLofty;
      font-size: 15px;
    }
  }

  // width
  &.narrow {
    min-width: $btnNarrow;
  }
  &.short {
    min-width: $btnShort;
  }
  &.long {
    min-width: $btnLong;
  }
  &.wide {
    min-width: $btnWide;
  }
  &.free {
    min-width: $btnFree;
  }

  // height
  &.lower {
    > a,
    > button,
    > input {
      min-height: $btnLower;
      line-height: $btnLower;
      font-size: 11px;
    }
  }
  &.low {
    > a,
    > button,
    > input {
      min-height: $btnLow;
      line-height: $btnLow;
      font-size: 12px;
    }
  }
  &.high {
    > a,
    > button,
    > input {
      min-height: $btnHigh;
      border-radius: 6px;
      line-height: $btnHigh;
      font-size: 15px;
    }
  }
  &.lofty {
    > a,
    > button,
    > input {
      min-height: $btnLofty;
      border-radius: 6px;
      line-height: $btnLofty;
      font-size: 15px;
    }
  }

  /* Skin */
  &.disable:hover > a,
  &.disable:hover > button,
  &.disable:hover > input {
    background: $colorDefault;
  }

  &.primary > a,
  &.primary > button,
  &.primary > input {
    @include primaryBtnStyle;
  }
  &.primary.disable:hover > a,
  &.primary.disable:hover > button,
  &.primary.disable:hover > input {
    background: $colorPrimary;
  }

  &.blue > a,
  &.blue > button,
  &.blue > input {
    @include blueBtnStyle;
  }
  &.blue.disable:hover > a,
  &.blue.disable:hover > button,
  &.blue.disable:hover > input {
    background: $colorBlue;
  }

  &.green > a,
  &.green > button,
  &.green > input {
    @include greenBtnStyle;
  }
  &.green.disable:hover > a,
  &.green.disable:hover > button,
  &.green.disable:hover > input {
    background: $colorGreen;
  }


  &.orange > a,
  &.orange > button,
  &.orange > input {
    @include orangeBtnStyle;
  }
  &.orange.disable:hover > a,
  &.orange.disable:hover > button,
  &.orange.disable:hover > input {
    background: $colorOrange;
  }

  &.red > a,
  &.red > button,
  &.red > input {
    @include redBtnStyle;
  }
  &.red.disable:hover > a,
  &.red.disable:hover > button,
  &.red.disable:hover > input {
    background: $colorRed;
  }

  /* State */
  &.center { margin: 0 auto; }
  &.disable { opacity: 0.5; }

  /* Atomic */
  .icon {
    /* Module */
    &.social {
      margin: 0px 6px -11px -34px;
    }
  }
}

a,
button,
input {
  &.btn {
    @include baseBtnStyle;
    width: auto;

    /* Skin */
    &.primary {
      @include primaryBtnStyle;
    }
    &.blue {
      @include blueBtnStyle;
    }
    &.green {
      @include greenBtnStyle;
    }
    &.orange {
      @include orangeBtnStyle;
    }
    &.red {
      @include redBtnStyle;
    }

    /* State */
    // size
    &.mini {
      min-width: $btnNarrow;
      min-height: $btnLower;
      padding: 0 6px;
      line-height: $btnLower;
      font-size: 11px;
    }
    &.small {
      min-width: $btnShort;
      min-height: $btnLow;
      padding: 0 10px;
      line-height: $btnLow;
      font-size: 12px;
    }
    &.large {
      min-width: $btnLong;
      min-height: $btnHigh;
      padding: 0 15px;
      border-radius: 6px;
      line-height: $btnHigh;
      font-size: 15px;
    }
    &.big {
      min-width: $btnWide;
      min-height: $btnLofty;
      padding: 0 15px;
      border-radius: 6px;
      line-height: $btnLofty;
      font-size: 15px;
    }

    // width
    &.narrow {
      min-width: $btnNarrow;
    }
    &.short {
      min-width: $btnShort;
    }
    &.long {
      min-width: $btnLong;
    }
    &.wide {
      min-width: $btnWide;
    }
    &.free {
      min-width: $btnFree;
    }

    // height
    &.lower {
      min-height: $btnLower;
      line-height: $btnLower;
      font-size: 11px;
    }
    &.low {
      min-height: $btnLow;
      line-height: $btnLow;
      font-size: 12px;
    }
    &.high {
      min-height: $btnHigh;
      border-radius: 6px;
      line-height: $btnHigh;
      font-size: 15px;
    }
    &.lofty {
      min-height: $btnLofty;
      border-radius: 6px;
      line-height: $btnLofty;
      font-size: 15px;
    }
  }
}

.btnGroup {
  & > * {
    display: inline-block;
    white-space: nowrap;
  }
  .btn {
    border-radius: 0;
    border-right: none;
    & > a {
      border-radius: 0;
      border-right-color: transparent;
    }

    &:first-child,
    &:first-child a {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:last-child,
    &:last-child a {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-right-color: $colorBorderDefault;
    }

    &:last-child,
    &:last-child a {
      &.primary {
        border-right-color: $colorBorderPrimary;
      }
      &.blue {
        border-right-color: $colorBorderBlue;
      }
      &.green {
        border-right-color: $colorBorderGreen;
      }
      &.orange {
        border-right-color: $colorBorderOrange;
      }
      &.red {
        border-right-color: $colorBorderRed;
      }
    }
  }
}

/*
 * DropDown Style
*/
.dropdown {
  .btn {
    position: relative;
    padding-right: 20px;
    &::before {
      @include createStyle;
      top: 50%;
      right: 8px;
      width: 6px;
      height: 6px;
      margin-top: -6px;
      border-bottom: 2px solid #6A6A6A;
      border-right: 2px solid #6A6A6A;
      border-radius: 2px;
      transform: rotate(45deg);
    }
    &.primary,
    &.blue,
    &.green,
    &.orange,
    &.red {
      &::before {
        border-color: #fff;
      }
    }


  }
}