/*
 * Form Style
*/

/* Atomic */
/* checkbox */
// size (width)
$checkboxMini: 10px;
$checkboxSmall: 15px;
$checkboxLarge: 40px;
$checkboxBig: 80px;
$checkboxFree: 100%;

input[type="checkbox"] {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: #D9D9D9 2px solid;
  background: #F9F9F9;
  &:checked {
    background: #D8D8D8;
    &::before {
      @include createStyle;
      width: 10px;
      height: 4px;
      top: 4px;
      left: 3px;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transform: rotate(-45deg);
    }
  }

  /* state */
  &:disabled {
    opacity: 0.5;
  }

  /* skin */
  &.primary {
    border: #2C3D50 2px solid;
    background: #fff;
    &:checked {
      background: #2C3D50;
    }
  }
  &.green {
    border: #17BC9C 2px solid;
    background: #fff;
    &:checked {
      background: #17BC9C;
    }
  }
  &.blue {
    border: #1397E1 2px solid;
    background: #fff;
    &:checked {
      background: #1397E1;
    }
  }
  &.orange {
    border: #F39C12 2px solid;
    background: #fff;
    &:checked {
      background: #F39C12;
    }
  }
  &.red {
    border: #E74C3C 2px solid;
    background: #fff;
    &:checked {
      background: #E74C3C;
    }
  }

  /* size */
  &.mini {
    width: $checkboxMini;
    height: $checkboxMini;
    &:checked {
      &::before {
        width: 5px;
        height: 2px;
        top: 1px;
        left: 1px;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
      }
    }
  }
  &.small {
    width: $checkboxSmall;
    height: $checkboxSmall;
    &:checked {
      &::before {
        width: 8px;
        height: 3px;
        top: 2px;
        left: 1px;
      }
    }
  }
  &.large {
    width: $checkboxLarge;
    height: $checkboxLarge;
    border-radius: 4px;
    &:checked {
      &::before {
        width: 18px;
        height: 8px;
        top: 9px;
        left: 7px;
        border-left: 4px solid #fff;
        border-bottom: 4px solid #fff;
      }
    }
  }
  &.big {
    width: $checkboxBig;
    height: $checkboxBig;
    border-radius: 8px;
    &:checked {
      &::before {
        width: 40px;
        height: 16px;
        top: 18px;
        left: 14px;
        border-left: 8px solid #fff;
        border-bottom: 8px solid #fff;
      }
    }
  }
  &.free {
    width: $checkboxFree;
    height: $checkboxFree;
  }
}

/* Atomic */
/* radioBtn */
// size
$radioBtnMini: 12px;
$radioBtnSmall: 16px;
$radioBtnLarge: 40px;
$radioBtnBig: 80px;

input[type="radio"] {
  position: relative;
  width: 20px;
  height: 20px;
  border: #DCE4EC 2px solid;
  border-radius: 10px;
  background: #fff;
  &:focus {
  }

  &:checked {
    &::before {
      @include createStyle;
      top: 2px;
      left: 2px;
      width: 12px;
      height: 12px;
      border-radius: 6px;
      background: #DCE4EC;
    }
  }

  &:disabled {
    opacity: 0.5;
  }

  /* skin */
  &.primary {
    border-color: #2C3D50;
    &:checked {
      &::before {
        background: #2C3D50;
      }
    }
  }
  &.green {
    border-color: #17BC9C;
    &:checked {
      &::before {
        background: #17BC9C;
      }
    }
  }
  &.blue {
    border-color: #1397E1;
    &:checked {
      &::before {
        background: #1397E1;
      }
    }
  }
  &.orange {
    border-color: #F39C12;
    &:checked {
      &::before {
        background: #F39C12;
      }
    }
  }
  &.red {
    border-color: #E74C3C;
    &:checked {
      &::before {
        background: #E74C3C;
      }
    }
  }

  /* size */
  &.mini {
    width: $radioBtnMini;
    height: $radioBtnMini;
    border-radius: $radioBtnMini / 2;
    &:checked {
      &::before {
        top: 2px;
        left: 2px;
        width: 4px;
        height: 4px;
        border-radius: 2px;
      }
    }
  }
  &.small {
    width: $radioBtnSmall;
    height: $radioBtnSmall;
    border-radius: $radioBtnSmall / 2;
    &:checked {
      &::before {
        top: 2px;
        left: 2px;
        width: 8px;
        height: 8px;
        border-radius: 4px;
      }
    }
  }
  &.large {
    width: $radioBtnLarge;
    height: $radioBtnLarge;
    border-radius: $radioBtnLarge / 2;
    &:checked {
      &::before {
        top: 4px;
        left: 4px;
        width: 28px;
        height: 28px;
        border-radius: 14px;
      }
    }
  }
  &.big {
    width: $radioBtnBig;
    height: $radioBtnBig;
    border-radius: $radioBtnBig / 2;
    &:checked {
      &::before {
        top: 8px;
        left: 8px;
        width: 60px;
        height: 60px;
        border-radius: 30px;
      }
    }
  }
}

/*
 * Input Style
*/
// size (width)
$inputNarrow: 65px;
$inputShort: 124px;
$inputLong: 270px;
$inputWide: 450px;
$inputFree: 100%;

// size (height)
$inputLower: 18px;
$inputLow: 22px;
$inputHigh: 40px;
$inputLofty: 50px;

// size (font)
$inputLowerFont: 10px;
$inputLowFont: 12px;
$inputHighFont: 16px;
$inputLoftyFont: 18px;

/* Atomic */
input[type="text"],
input[type="search"],
input[type="password"] {
  display: inline-block;
  min-width: 180px;
  border: #CCCCCC 1px solid;
  height: 30px;
  padding: 0 12px;
  border-radius: 4px;
  background: #fff;
  box-sizing: border-box;
  color: #555555;
  font-size: 14px;

  /* State */
  &:disabled,
  &.disabled {
    background: #EEEEEE;
    color: #999999;
  }

  /* State */
  // color
  &.primary {
    border-color: #2C3D50;
  }
  &.green {
    border-color: #17BC9C;
  }
  &.blue {
    border-color: #1397E1;
  }
  &.orange {
    border-color: #F39C12;
  }
  &.red {
    border-color: #E74C3C;
  }

  // size
  &.narrow {
    min-width: $inputNarrow;
  }
  &.short {
    min-width: $inputShort;
  }
  &.long {
    min-width: $inputLong;
  }
  &.wide {
    min-width: $inputWide;
  }
  &.free {
    min-width: $inputFree;
  }

  // height
  &.lower {
    height: $inputLower;
    line-height: $inputLower;
    font-size: $inputLowerFont;
  }
  &.low {
    height: $inputLow;
    line-height: $inputLow;
    font-size: $inputLowFont;
  }
  &.high {
    height: $inputHigh;
    border-radius: 6px;
    line-height: $inputHigh;
    font-size: $inputHighFont;
  }
  &.lofty {
    height: $inputLofty;
    border-radius: 6px;
    line-height: $inputLofty;
    font-size: $inputLoftyFont;
  }

  &.mini {
    width: $inputNarrow;
    min-width: $inputNarrow;
    height: $inputLower;
    padding: 0 6px;
    line-height: $inputLower;
    font-size: $inputLowerFont;
  }
  &.small {
    width: $inputShort;
    min-width: $inputShort;
    height: $inputLow;
    padding: 0 10px;
    line-height: $inputLow;
    font-size: $inputLowFont;
  }
  &.large {
    width: $inputLong;
    min-width: $inputLong;
    height: $inputHigh;
    padding: 0 15px;

    border-radius: 6px;
    line-height: $inputHigh;
    font-size: $inputHighFont;
  }
  &.big {
    width: $inputWide;
    min-width: $inputWide;
    height: $inputLofty;
    padding: 0 15px;
    border-radius: 6px;
    line-height: $inputLofty;
    font-size: $inputLoftyFont;
  }
}

/* input class style */
.input {
  display: inline-block;

  /* State */
  &.disabled {
    input[type="text"],
    input[type="search"],
    input[type="password"] {
      background: #EEEEEE;
      color: #999999;
    }
  }

  /* State */
  // color
  &.primary {
    input[type="text"],
    input[type="search"],
    input[type="password"] {
      border-color: #2C3D50;
    }
  }
  &.green {
    input[type="text"],
    input[type="search"],
    input[type="password"] {
      border-color: #17BC9C;
    }
  }
  &.blue {
    input[type="text"],
    input[type="search"],
    input[type="password"] {
      border-color: #1397E1;
    }
  }
  &.orange {
    input[type="text"],
    input[type="search"],
    input[type="password"] {
      border-color: #F39C12;
    }
  }
  &.red {
    input[type="text"],
    input[type="search"],
    input[type="password"] {
      border-color: #E74C3C;
    }
  }

  // size
  &.narrow {
    input[type="text"],
    input[type="search"],
    input[type="password"] {
      min-width: $inputNarrow;
      width: $inputNarrow;
    }
  }
  &.short {
    input[type="text"],
    input[type="search"],
    input[type="password"] {
      min-width: $inputShort;
      width: $inputShort;
    }
  }
  &.long {
    input[type="text"],
    input[type="search"],
    input[type="password"] {
      min-width: $inputLong;
      width: $inputLong;
    }
  }
  &.wide {
    input[type="text"],
    input[type="search"],
    input[type="password"] {
      min-width: $inputWide;
      width: $inputWide;
    }
  }
  &.free {
    width: $inputFree;

    input[type="text"],
    input[type="search"],
    input[type="password"] {
      min-width: $inputFree;
      width: $inputFree;
    }
  }

  // height
  &.lower {
    input[type="text"],
    input[type="search"],
    input[type="password"] {
      height: $inputLower;
      line-height: $inputLower;
      font-size: $inputLowerFont;
    }
  }
  &.low {
    input[type="text"],
    input[type="search"],
    input[type="password"] {
      height: $inputLow;
      line-height: $inputLow;
      font-size: $inputLowFont;
    }
  }
  &.high {
    input[type="text"],
    input[type="search"],
    input[type="password"] {
      height: $inputHigh;
      border-radius: 6px;
      line-height: $inputHigh;
      font-size: $inputHighFont;
    }
  }
  &.lofty {
    input[type="text"],
    input[type="search"],
    input[type="password"] {
      height: $inputLofty;
      border-radius: 6px;
      line-height: $inputLofty;
      font-size: $inputLoftyFont;
    }
  }

  &.mini {
    input[type="text"],
    input[type="search"],
    input[type="password"] {
      width: $inputNarrow;
      min-width: $inputNarrow;
      height: $inputLower;
      padding: 0 6px;
      line-height: $inputLower;
      font-size: $inputLowerFont;
    }
  }
  &.small {
    input[type="text"],
    input[type="search"],
    input[type="password"] {
      width: $inputShort;
      min-width: $inputShort;
      height: $inputLow;
      padding: 0 10px;
      line-height: $inputLow;
      font-size: $inputLowFont;
    }
  }
  &.large {
    input[type="text"],
    input[type="search"],
    input[type="password"] {
      width: $inputLong;
      min-width: $inputLong;
      height: $inputHigh;
      padding: 0 15px;
      border-radius: 6px;
      line-height: $inputHigh;
      font-size: $inputHighFont;
    }
  }
  &.big {
    input[type="text"],
    input[type="search"],
    input[type="password"] {
      width: $inputWide;
      min-width: $inputWide;
      height: $inputLofty;
      padding: 0 15px;
      border-radius: 6px;
      line-height: $inputLofty;
      font-size: $inputLoftyFont;
    }
  }
}

/*
 * Select Style
*/
select {
  /* State */
  // size width
  &.narrow {
    min-width: 45px;
    background-position: 85% center;
  }
  &.short {
    min-width: 75px;
    background-position: 85% center;
  }
  &.long {
    min-width: 300px;
  }
  &.wide {
    min-width: 450px;
  }

  &.free {
    width: 100%;
    background-position: 98% center;
  }

  // size height
  &.lower {
    height: 15px;
    border-radius: 4px;
    font-size: 10px;
    line-height: 15px;
    background-size: 5px auto;
  }
  &.low {
    height: 20px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 20px;
  }
  &.high {
    height: 45px;
    background-size: 10px auto;
    line-height: 45px;
    font-size: 16px;
  }
  &.lofty {
    height: 60px;
    background-size: 12px auto;
    line-height: 60px;
    font-size: 18px;
  }

  // size width x height
  &.mini {
    min-width: 45px;
    height: 15px;
    border-radius: 4px;
    background-position: 85% center;
    font-size: 10px;
    line-height: 15px;
    background-size: 5px auto;
  }
  &.small {
    min-width: 75px;
    height: 20px;
    border-radius: 4px;
    background-position: 85% center;
    font-size: 12px;
    line-height: 20px;
  }
  &.large {
    min-width: 300px;
    height: 45px;
    background-size: 10px auto;
    line-height: 45px;
    font-size: 16px;
  }
  &.big {
    min-width: 450px;
    height: 60px;
    background-size: 12px auto;
    line-height: 60px;
    font-size: 18px;
  }
}
