/*
 * Form Style
*/

/* Atomic */
/* checkbox */
input[type="checkbox"] {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: #DCE4EC 2px solid;
  background: #fff;
  &:checked {
    background: #DCE4EC;
    &::before {
      @include createStyle;
      width: 10px;
      height: 4px;
      top: 4px;
      left: 3px;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transform: rotate(-45deg);
    }
  }

  /* skin */
  &.primary {
    border: #2C3D50 2px solid;
    &:checked {
      background: #2C3D50;
    }
  }
  &.green {
    border: #17BC9C 2px solid;
    &:checked {
      background: #17BC9C;
    }
  }
  &.blue {
    border: #1397E1 2px solid;
    &:checked {
      background: #1397E1;
    }
  }
  &.orange {
    border: #F39C12 2px solid;
    &:checked {
      background: #F39C12;
    }
  }
  &.red {
    border: #E74C3C 2px solid;
    &:checked {
      background: #E74C3C;
    }
  }
}

input[type="radio"] {
  position: relative;
  width: 20px;
  height: 20px;
  border: #1397E1 2px solid;
  border-radius: 10px;
  background: #fff;
  &:focus {
  }

  &:checked {
    &::before {
      @include createStyle;
      top: 2px;
      left: 2px;
      width: 12px;
      height: 12px;
      border-radius: 6px;
      background: #1397E1;
    }
  }

  &:disabled {
    opacity: 0.5;
  }
}

input[type="text"],
input[type="search"],
input[type="password"] {
  display: inline-block;
  border: #DCE4EC 2px solid;
  height: 30px;
  padding: 0 16px;
  border-radius: 4px;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}

/* input class style */
.input {
  display: inline-block;
}