header.header {
  @include clearfix;
  box-sizing: border-box;
  min-height: 70px;
  padding: 0 30px;
  background: #F8F8F8;

  .headerLogo {
    height: 100%;
    a {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  > .box {
    display: flex;
    align-items: center;
    min-height: 70px;
    > * {
      //flex: 1;
    }

    &.center {
      justify-content: center;
      > * {
        flex: none;
      }
    }
  }

  /* Skin */
  &.primary {
    background: $colorPrimary;
  }

  &.green {
    background: $colorGreen;
  }

  &.blue {
    background: $colorBlue;
  }

  &.orange {
    background: $colorOrange;
  }

  &.red {
    background: $colorRed;
  }

  /* State */
  // height
  &.lower,
  &.lower > .box {
    min-height: 40px;
  }
  &.low,
  &.low > .box {
    min-height: 50px;
  }
  &.high,
  &.high > .box {
    min-height: 120px;
  }
  &.lofty,
  &.lofty > .box {
    min-height: 150px;
  }
}
