/*
 * Icon Style
*/

@mixin iconBtnBaseStyle {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: $colorDefault;
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
  vertical-align: top;
  color: #000;
  .icon {
    line-height: 40px;
  }
}


.icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;

  // state
  &.round {
    @include iconBtnBaseStyle;
  }

  &.mini::before {
    font-size: 10px;
  }
  &.small {
    //font-size: 12px;
    font-size: 1.5em;
  }
  &.large {
    font-size: 2em;
  }
  &.xLarge {
    font-size: 3em;
  }
  &.big {
    font-size: 4em;
  }

  &.x2 {
    font-size: 2em;
  }
  &.x3 {
    font-size: 3em;
  }
  &.x4 {
    font-size: 4em;
  }
  &.x5 {
    font-size: 5em;
  }

    // skin
  &.primary {
    color: $colorPrimary;
    &:hover {
      color: #76828D;
    }
  }

  &.green {
    color: $colorGreen;
    &:hover {
      color: #69D3BF;
    }
  }

  &.blue {
    color: $colorBlue;
    &:hover {
      color: #7BBCE8;
    }
  }

  &.orange {
    color: $colorOrange;
    &:hover {
      color: #F7BF65;
    }
  }

  &.red {
    color: $colorRed;
    &:hover {
      color: #EF8B80;
    }
  }

  // Adapted from http://fortawesome.github.com/Font-Awesome (Version 4.6.0)
  &.ap-glass::before { content: "\f000"; }
  &.ap-music::before { content: "\f001"; }
  &.ap-search::before { content: "\f002"; }
  &.ap-envelope-o::before { content: "\f003"; }
  &.ap-heart::before { content: "\f004"; }
  &.ap-star::before { content: "\f005"; }
  &.ap-star-o::before { content: "\f006"; }
  &.ap-user::before { content: "\f007"; }
  &.ap-film::before { content: "\f008"; }
  &.ap-th-large::before { content: "\f009"; }
  &.ap-th::before { content: "\f00a"; }
  &.ap-th-list::before { content: "\f00b"; }
  &.ap-check::before { content: "\f00c"; }
  &.ap-remove::before,
  &.ap-close::before,
  &.ap-times::before { content: "\f00d"; }
  &.ap-search-plus::before { content: "\f00e"; }
  &.ap-search-minus::before { content: "\f010"; }
  &.ap-power-off::before { content: "\f011"; }
  &.ap-signal::before { content: "\f012"; }
  &.ap-gear::before,
  &.ap-cog::before { content: "\f013"; }
  &.ap-trash-o::before { content: "\f014"; }
  &.ap-home::before { content: "\f015"; }
  &.ap-file-o::before { content: "\f016"; }
  &.ap-clock-o::before { content: "\f017"; }
  &.ap-road::before { content: "\f018"; }
  &.ap-download::before { content: "\f019"; }
  &.ap-arrow-circle-o-down::before { content: "\f01a"; }
  &.ap-arrow-circle-o-up::before { content: "\f01b"; }
  &.ap-inbox::before { content: "\f01c"; }
  &.ap-play-circle-o::before { content: "\f01d"; }
  &.ap-rotate-right::before,
  &.ap-repeat::before { content: "\f01e"; }
  &.ap-refresh::before { content: "\f021"; }
  &.ap-list-alt::before { content: "\f022"; }
  &.ap-lock::before { content: "\f023"; }
  &.ap-flag::before { content: "\f024"; }
  &.ap-headphones::before { content: "\f025"; }
  &.ap-volume-off::before { content: "\f026"; }
  &.ap-volume-down::before { content: "\f027"; }
  &.ap-volume-up::before { content: "\f028"; }
  &.ap-qrcode::before { content: "\f029"; }
  &.ap-barcode::before { content: "\f02a"; }
  &.ap-tag::before { content: "\f02b"; }
  &.ap-tags::before { content: "\f02c"; }
  &.ap-book::before { content: "\f02d"; }
  &.ap-bookmark::before { content: "\f02e"; }
  &.ap-print::before { content: "\f02f"; }
  &.ap-camera::before { content: "\f030"; }
  &.ap-font::before { content: "\f031"; }
  &.ap-bold::before { content: "\f032"; }
  &.ap-italic::before { content: "\f033"; }
  &.ap-text-height::before { content: "\f034"; }
  &.ap-text-width::before { content: "\f035"; }
  &.ap-align-left::before { content: "\f036"; }
  &.ap-align-center::before { content: "\f037"; }
  &.ap-align-right::before { content: "\f038"; }
  &.ap-align-justify::before { content: "\f039"; }
  &.ap-list::before { content: "\f03a"; }
  &.ap-dedent::before,
  &.ap-outdent::before { content: "\f03b"; }
  &.ap-indent::before { content: "\f03c"; }
  &.ap-video-camera::before { content: "\f03d"; }
  &.ap-photo::before,
  &.ap-image::before,
  &.ap-picture-o::before { content: "\f03e"; }
  &.ap-pencil::before { content: "\f040"; }
  &.ap-map-marker::before { content: "\f041"; }
  &.ap-adjust::before { content: "\f042"; }
  &.ap-tint::before { content: "\f043"; }
  &.ap-edit::before,
  &.ap-pencil-square-o::before { content: "\f044"; }
  &.ap-share-square-o::before { content: "\f045"; }
  &.ap-check-square-o::before { content: "\f046"; }
  &.ap-arrows::before { content: "\f047"; }
  &.ap-step-backward::before { content: "\f048"; }
  &.ap-fast-backward::before { content: "\f049"; }
  &.ap-backward::before { content: "\f04a"; }
  &.ap-play::before { content: "\f04b"; }
  &.ap-pause::before { content: "\f04c"; }
  &.ap-stop::before { content: "\f04d"; }
  &.ap-forward::before { content: "\f04e"; }
  &.ap-fast-forward::before { content: "\f050"; }
  &.ap-step-forward::before { content: "\f051"; }
  &.ap-eject::before { content: "\f052"; }
  &.ap-chevron-left::before { content: "\f053"; }
  &.ap-chevron-right::before { content: "\f054"; }
  &.ap-plus-circle::before { content: "\f055"; }
  &.ap-minus-circle::before { content: "\f056"; }
  &.ap-times-circle::before { content: "\f057"; }
  &.ap-check-circle::before { content: "\f058"; }
  &.ap-question-circle::before { content: "\f059"; }
  &.ap-info-circle::before { content: "\f05a"; }
  &.ap-crosshairs::before { content: "\f05b"; }
  &.ap-times-circle-o::before { content: "\f05c"; }
  &.ap-check-circle-o::before { content: "\f05d"; }
  &.ap-ban::before { content: "\f05e"; }
  &.ap-arrow-left::before { content: "\f060"; }
  &.ap-arrow-right::before { content: "\f061"; }
  &.ap-arrow-up::before { content: "\f062"; }
  &.ap-arrow-down::before { content: "\f063"; }
  &.ap-mail-forward::before,
  &.ap-share::before { content: "\f064"; }
  &.ap-expand::before { content: "\f065"; }
  &.ap-compress::before { content: "\f066"; }
  &.ap-plus::before { content: "\f067"; }
  &.ap-minus::before { content: "\f068"; }
  &.ap-asterisk::before { content: "\f069"; }
  &.ap-exclamation-circle::before { content: "\f06a"; }
  &.ap-gift::before { content: "\f06b"; }
  &.ap-leaf::before { content: "\f06c"; }
  &.ap-fire::before { content: "\f06d"; }
  &.ap-eye::before { content: "\f06e"; }
  &.ap-eye-slash::before { content: "\f070"; }
  &.ap-warning::before,
  &.ap-exclamation-triangle::before { content: "\f071"; }
  &.ap-plane::before { content: "\f072"; }
  &.ap-calendar::before { content: "\f073"; }
  &.ap-random::before { content: "\f074"; }
  &.ap-comment::before { content: "\f075"; }
  &.ap-magnet::before { content: "\f076"; }
  &.ap-chevron-up::before { content: "\f077"; }
  &.ap-chevron-down::before { content: "\f078"; }
  &.ap-retweet::before { content: "\f079"; }
  &.ap-shopping-cart::before { content: "\f07a"; }
  &.ap-folder::before { content: "\f07b"; }
  &.ap-folder-open::before { content: "\f07c"; }
  &.ap-arrows-v::before { content: "\f07d"; }
  &.ap-arrows-h::before { content: "\f07e"; }
  &.ap-bar-chart-o::before,
  &.ap-bar-chart::before { content: "\f080"; }
  &.ap-twitter-square::before { content: "\f081"; }
  &.ap-facebook-square::before { content: "\f082"; }
  &.ap-camera-retro::before { content: "\f083"; }
  &.ap-key::before { content: "\f084"; }
  &.ap-gears::before,
  &.ap-cogs::before { content: "\f085"; }
  &.ap-comments::before { content: "\f086"; }
  &.ap-thumbs-o-up::before { content: "\f087"; }
  &.ap-thumbs-o-down::before { content: "\f088"; }
  &.ap-star-half::before { content: "\f089"; }
  &.ap-heart-o::before { content: "\f08a"; }
  &.ap-sign-out::before { content: "\f08b"; }
  &.ap-linkedin-square::before { content: "\f08c"; }
  &.ap-thumb-tack::before { content: "\f08d"; }
  &.ap-external-link::before { content: "\f08e"; }
  &.ap-sign-in::before { content: "\f090"; }
  &.ap-trophy::before { content: "\f091"; }
  &.ap-github-square::before { content: "\f092"; }
  &.ap-upload::before { content: "\f093"; }
  &.ap-lemon-o::before { content: "\f094"; }
  &.ap-phone::before { content: "\f095"; }
  &.ap-square-o::before { content: "\f096"; }
  &.ap-bookmark-o::before { content: "\f097"; }
  &.ap-phone-square::before { content: "\f098"; }
  &.ap-twitter::before { content: "\f099"; }
  &.ap-facebook-f::before,
  &.ap-facebook::before { content: "\f09a"; }
  &.ap-github::before { content: "\f09b"; }
  &.ap-unlock::before { content: "\f09c"; }
  &.ap-credit-card::before { content: "\f09d"; }
  &.ap-rss::before { content: "\f09e"; }
  &.ap-hdd-o::before { content: "\f0a0"; }
  &.ap-bullhorn::before { content: "\f0a1"; }
  &.ap-bell::before { content: "\f0f3"; }
  &.ap-certificate::before { content: "\f0a3"; }
  &.ap-hand-o-right::before { content: "\f0a4"; }
  &.ap-hand-o-left::before { content: "\f0a5"; }
  &.ap-hand-o-up::before { content: "\f0a6"; }
  &.ap-hand-o-down::before { content: "\f0a7"; }
  &.ap-arrow-circle-left::before { content: "\f0a8"; }
  &.ap-arrow-circle-right::before { content: "\f0a9"; }
  &.ap-arrow-circle-up::before { content: "\f0aa"; }
  &.ap-arrow-circle-down::before { content: "\f0ab"; }
  &.ap-globe::before { content: "\f0ac"; }
  &.ap-wrench::before { content: "\f0ad"; }
  &.ap-tasks::before { content: "\f0ae"; }
  &.ap-filter::before { content: "\f0b0"; }
  &.ap-briefcase::before { content: "\f0b1"; }
  &.ap-arrows-alt::before { content: "\f0b2"; }
  &.ap-group::before,
  &.ap-users::before { content: "\f0c0"; }
  &.ap-chain::before,
  &.ap-link::before { content: "\f0c1"; }
  &.ap-cloud::before { content: "\f0c2"; }
  &.ap-flask::before { content: "\f0c3"; }
  &.ap-cut::before,
  &.ap-scissors::before { content: "\f0c4"; }
  &.ap-copy::before,
  &.ap-files-o::before { content: "\f0c5"; }
  &.ap-paperclip::before { content: "\f0c6"; }
  &.ap-save::before,
  &.ap-floppy-o::before { content: "\f0c7"; }
  &.ap-square::before { content: "\f0c8"; }
  &.ap-navicon::before,
  &.ap-reorder::before,
  &.ap-bars::before { content: "\f0c9"; }
  &.ap-list-ul::before { content: "\f0ca"; }
  &.ap-list-ol::before { content: "\f0cb"; }
  &.ap-strikethrough::before { content: "\f0cc"; }
  &.ap-underline::before { content: "\f0cd"; }
  &.ap-table::before { content: "\f0ce"; }
  &.ap-magic::before { content: "\f0d0"; }
  &.ap-truck::before { content: "\f0d1"; }
  &.ap-pinterest::before { content: "\f0d2"; }
  &.ap-pinterest-square::before { content: "\f0d3"; }
  &.ap-google-plus-square::before { content: "\f0d4"; }
  &.ap-google-plus::before { content: "\f0d5"; }
  &.ap-money::before { content: "\f0d6"; }
  &.ap-caret-down::before { content: "\f0d7"; }
  &.ap-caret-up::before { content: "\f0d8"; }
  &.ap-caret-left::before { content: "\f0d9"; }
  &.ap-caret-right::before { content: "\f0da"; }
  &.ap-columns::before { content: "\f0db"; }
  &.ap-unsorted::before,
  &.ap-sort::before { content: "\f0dc"; }
  &.ap-sort-down::before,
  &.ap-sort-desc::before { content: "\f0dd"; }
  &.ap-sort-up::before,
  &.ap-sort-asc::before { content: "\f0de"; }
  &.ap-envelope::before { content: "\f0e0"; }
  &.ap-linkedin::before { content: "\f0e1"; }
  &.ap-rotate-left::before,
  &.ap-undo::before { content: "\f0e2"; }
  &.ap-legal::before,
  &.ap-gavel::before { content: "\f0e3"; }
  &.ap-dashboard::before,
  &.ap-tachometer::before { content: "\f0e4"; }
  &.ap-comment-o::before { content: "\f0e5"; }
  &.ap-comments-o::before { content: "\f0e6"; }
  &.ap-flash::before,
  &.ap-bolt::before { content: "\f0e7"; }
  &.ap-sitemap::before { content: "\f0e8"; }
  &.ap-umbrella::before { content: "\f0e9"; }
  &.ap-paste::before,
  &.ap-clipboard::before { content: "\f0ea"; }
  &.ap-lightbulb-o::before { content: "\f0eb"; }
  &.ap-exchange::before { content: "\f0ec"; }
  &.ap-cloud-download::before { content: "\f0ed"; }
  &.ap-cloud-upload::before { content: "\f0ee"; }
  &.ap-user-md::before { content: "\f0f0"; }
  &.ap-stethoscope::before { content: "\f0f1"; }
  &.ap-suitcase::before { content: "\f0f2"; }
  &.ap-bell-o::before { content: "\f0a2"; }
  &.ap-coffee::before { content: "\f0f4"; }
  &.ap-cutlery::before { content: "\f0f5"; }
  &.ap-file-text-o::before { content: "\f0f6"; }
  &.ap-building-o::before { content: "\f0f7"; }
  &.ap-hospital-o::before { content: "\f0f8"; }
  &.ap-ambulance::before { content: "\f0f9"; }
  &.ap-medkit::before { content: "\f0fa"; }
  &.ap-fighter-jet::before { content: "\f0fb"; }
  &.ap-beer::before { content: "\f0fc"; }
  &.ap-h-square::before { content: "\f0fd"; }
  &.ap-plus-square::before { content: "\f0fe"; }
  &.ap-angle-double-left::before { content: "\f100"; }
  &.ap-angle-double-right::before { content: "\f101"; }
  &.ap-angle-double-up::before { content: "\f102"; }
  &.ap-angle-double-down::before { content: "\f103"; }
  &.ap-angle-left::before { content: "\f104"; }
  &.ap-angle-right::before { content: "\f105"; }
  &.ap-angle-up::before { content: "\f106"; }
  &.ap-angle-down::before { content: "\f107"; }
  &.ap-desktop::before { content: "\f108"; }
  &.ap-laptop::before { content: "\f109"; }
  &.ap-tablet::before { content: "\f10a"; }
  &.ap-mobile-phone::before,
  &.ap-mobile::before { content: "\f10b"; }
  &.ap-circle-o::before { content: "\f10c"; }
  &.ap-quote-left::before { content: "\f10d"; }
  &.ap-quote-right::before { content: "\f10e"; }
  &.ap-spinner::before { content: "\f110"; }
  &.ap-circle::before { content: "\f111"; }
  &.ap-mail-reply::before,
  &.ap-reply::before { content: "\f112"; }
  &.ap-github-alt::before { content: "\f113"; }
  &.ap-folder-o::before { content: "\f114"; }
  &.ap-folder-open-o::before { content: "\f115"; }
  &.ap-smile-o::before { content: "\f118"; }
  &.ap-frown-o::before { content: "\f119"; }
  &.ap-meh-o::before { content: "\f11a"; }
  &.ap-gamepad::before { content: "\f11b"; }
  &.ap-keyboard-o::before { content: "\f11c"; }
  &.ap-flag-o::before { content: "\f11d"; }
  &.ap-flag-checkered::before { content: "\f11e"; }
  &.ap-terminal::before { content: "\f120"; }
  &.ap-code::before { content: "\f121"; }
  &.ap-mail-reply-all::before,
  &.ap-reply-all::before { content: "\f122"; }
  &.ap-star-half-empty::before,
  &.ap-star-half-full::before,
  &.ap-star-half-o::before { content: "\f123"; }
  &.ap-location-arrow::before { content: "\f124"; }
  &.ap-crop::before { content: "\f125"; }
  &.ap-code-fork::before { content: "\f126"; }
  &.ap-unlink::before,
  &.ap-chain-broken::before { content: "\f127"; }
  &.ap-question::before { content: "\f128"; }
  &.ap-info::before { content: "\f129"; }
  &.ap-exclamation::before { content: "\f12a"; }
  &.ap-superscript::before { content: "\f12b"; }
  &.ap-subscript::before { content: "\f12c"; }
  &.ap-eraser::before { content: "\f12d"; }
  &.ap-puzzle-piece::before { content: "\f12e"; }
  &.ap-microphone::before { content: "\f130"; }
  &.ap-microphone-slash::before { content: "\f131"; }
  &.ap-shield::before { content: "\f132"; }
  &.ap-calendar-o::before { content: "\f133"; }
  &.ap-fire-extinguisher::before { content: "\f134"; }
  &.ap-rocket::before { content: "\f135"; }
  &.ap-maxcdn::before { content: "\f136"; }
  &.ap-chevron-circle-left::before { content: "\f137"; }
  &.ap-chevron-circle-right::before { content: "\f138"; }
  &.ap-chevron-circle-up::before { content: "\f139"; }
  &.ap-chevron-circle-down::before { content: "\f13a"; }
  &.ap-html5::before { content: "\f13b"; }
  &.ap-css3::before { content: "\f13c"; }
  &.ap-anchor::before { content: "\f13d"; }
  &.ap-unlock-alt::before { content: "\f13e"; }
  &.ap-bullseye::before { content: "\f140"; }
  &.ap-ellipsis-h::before { content: "\f141"; }
  &.ap-ellipsis-v::before { content: "\f142"; }
  &.ap-rss-square::before { content: "\f143"; }
  &.ap-play-circle::before { content: "\f144"; }
  &.ap-ticket::before { content: "\f145"; }
  &.ap-minus-square::before { content: "\f146"; }
  &.ap-minus-square-o::before { content: "\f147"; }
  &.ap-level-up::before { content: "\f148"; }
  &.ap-level-down::before { content: "\f149"; }
  &.ap-check-square::before { content: "\f14a"; }
  &.ap-pencil-square::before { content: "\f14b"; }
  &.ap-external-link-square::before { content: "\f14c"; }
  &.ap-share-square::before { content: "\f14d"; }
  &.ap-compass::before { content: "\f14e"; }
  &.ap-toggle-down::before,
  &.ap-caret-square-o-down::before { content: "\f150"; }
  &.ap-toggle-up::before,
  &.ap-caret-square-o-up::before { content: "\f151"; }
  &.ap-toggle-right::before,
  &.ap-caret-square-o-right::before { content: "\f152"; }
  &.ap-euro::before,
  &.ap-eur::before { content: "\f153"; }
  &.ap-gbp::before { content: "\f154"; }
  &.ap-dollar::before,
  &.ap-usd::before { content: "\f155"; }
  &.ap-rupee::before,
  &.ap-inr::before { content: "\f156"; }
  &.ap-cny::before,
  &.ap-rmb::before,
  &.ap-yen::before,
  &.ap-jpy::before { content: "\f157"; }
  &.ap-ruble::before,
  &.ap-rouble::before,
  &.ap-rub::before { content: "\f158"; }
  &.ap-won::before,
  &.ap-krw::before { content: "\f159"; }
  &.ap-bitcoin::before,
  &.ap-btc::before { content: "\f15a"; }
  &.ap-file::before { content: "\f15b"; }
  &.ap-file-text::before { content: "\f15c"; }
  &.ap-sort-alpha-asc::before { content: "\f15d"; }
  &.ap-sort-alpha-desc::before { content: "\f15e"; }
  &.ap-sort-amount-asc::before { content: "\f160"; }
  &.ap-sort-amount-desc::before { content: "\f161"; }
  &.ap-sort-numeric-asc::before { content: "\f162"; }
  &.ap-sort-numeric-desc::before { content: "\f163"; }
  &.ap-thumbs-up::before { content: "\f164"; }
  &.ap-thumbs-down::before { content: "\f165"; }
  &.ap-youtube-square::before { content: "\f166"; }
  &.ap-youtube::before { content: "\f167"; }
  &.ap-xing::before { content: "\f168"; }
  &.ap-xing-square::before { content: "\f169"; }
  &.ap-youtube-play::before { content: "\f16a"; }
  &.ap-dropbox::before { content: "\f16b"; }
  &.ap-stack-overflow::before { content: "\f16c"; }
  &.ap-instagram::before { content: "\f16d"; }
  &.ap-flickr::before { content: "\f16e"; }
  &.ap-adn::before { content: "\f170"; }
  &.ap-bitbucket::before { content: "\f171"; }
  &.ap-bitbucket-square::before { content: "\f172"; }
  &.ap-tumblr::before { content: "\f173"; }
  &.ap-tumblr-square::before { content: "\f174"; }
  &.ap-long-arrow-down::before { content: "\f175"; }
  &.ap-long-arrow-up::before { content: "\f176"; }
  &.ap-long-arrow-left::before { content: "\f177"; }
  &.ap-long-arrow-right::before { content: "\f178"; }
  &.ap-apple::before { content: "\f179"; }
  &.ap-windows::before { content: "\f17a"; }
  &.ap-android::before { content: "\f17b"; }
  &.ap-linux::before { content: "\f17c"; }
  &.ap-dribbble::before { content: "\f17d"; }
  &.ap-skype::before { content: "\f17e"; }
  &.ap-foursquare::before { content: "\f180"; }
  &.ap-trello::before { content: "\f181"; }
  &.ap-female::before { content: "\f182"; }
  &.ap-male::before { content: "\f183"; }
  &.ap-gittip::before,
  &.ap-gratipay::before { content: "\f184"; }
  &.ap-sun-o::before { content: "\f185"; }
  &.ap-moon-o::before { content: "\f186"; }
  &.ap-archive::before { content: "\f187"; }
  &.ap-bug::before { content: "\f188"; }
  &.ap-vk::before { content: "\f189"; }
  &.ap-weibo::before { content: "\f18a"; }
  &.ap-renren::before { content: "\f18b"; }
  &.ap-pagelines::before { content: "\f18c"; }
  &.ap-stack-exchange::before { content: "\f18d"; }
  &.ap-arrow-circle-o-right::before { content: "\f18e"; }
  &.ap-arrow-circle-o-left::before { content: "\f190"; }
  &.ap-toggle-left::before,
  &.ap-caret-square-o-left::before { content: "\f191"; }
  &.ap-dot-circle-o::before { content: "\f192"; }
  &.ap-wheelchair::before { content: "\f193"; }
  &.ap-vimeo-square::before { content: "\f194"; }
  &.ap-turkish-lira::before,
  &.ap-try::before { content: "\f195"; }
  &.ap-plus-square-o::before { content: "\f196"; }
  &.ap-space-shuttle::before { content: "\f197"; }
  &.ap-slack::before { content: "\f198"; }
  &.ap-envelope-square::before { content: "\f199"; }
  &.ap-wordpress::before { content: "\f19a"; }
  &.ap-openid::before { content: "\f19b"; }
  &.ap-institution::before,
  &.ap-bank::before,
  &.ap-university::before { content: "\f19c"; }
  &.ap-mortar-board::before,
  &.ap-graduation-cap::before { content: "\f19d"; }
  &.ap-yahoo::before { content: "\f19e"; }
  &.ap-google::before { content: "\f1a0"; }
  &.ap-reddit::before { content: "\f1a1"; }
  &.ap-reddit-square::before { content: "\f1a2"; }
  &.ap-stumbleupon-circle::before { content: "\f1a3"; }
  &.ap-stumbleupon::before { content: "\f1a4"; }
  &.ap-delicious::before { content: "\f1a5"; }
  &.ap-digg::before { content: "\f1a6"; }
  &.ap-pied-piper::before { content: "\f1a7"; }
  &.ap-pied-piper-alt::before { content: "\f1a8"; }
  &.ap-drupal::before { content: "\f1a9"; }
  &.ap-joomla::before { content: "\f1aa"; }
  &.ap-language::before { content: "\f1ab"; }
  &.ap-fax::before { content: "\f1ac"; }
  &.ap-building::before { content: "\f1ad"; }
  &.ap-child::before { content: "\f1ae"; }
  &.ap-paw::before { content: "\f1b0"; }
  &.ap-spoon::before { content: "\f1b1"; }
  &.ap-cube::before { content: "\f1b2"; }
  &.ap-cubes::before { content: "\f1b3"; }
  &.ap-behance::before { content: "\f1b4"; }
  &.ap-behance-square::before { content: "\f1b5"; }
  &.ap-steam::before { content: "\f1b6"; }
  &.ap-steam-square::before { content: "\f1b7"; }
  &.ap-recycle::before { content: "\f1b8"; }
  &.ap-automobile::before,
  &.ap-car::before { content: "\f1b9"; }
  &.ap-cab::before,
  &.ap-taxi::before { content: "\f1ba"; }
  &.ap-tree::before { content: "\f1bb"; }
  &.ap-spotify::before { content: "\f1bc"; }
  &.ap-deviantart::before { content: "\f1bd"; }
  &.ap-soundcloud::before { content: "\f1be"; }
  &.ap-database::before { content: "\f1c0"; }
  &.ap-file-pdf-o::before { content: "\f1c1"; }
  &.ap-file-word-o::before { content: "\f1c2"; }
  &.ap-file-excel-o::before { content: "\f1c3"; }
  &.ap-file-powerpoint-o::before { content: "\f1c4"; }
  &.ap-file-photo-o::before,
  &.ap-file-picture-o::before,
  &.ap-file-image-o::before { content: "\f1c5"; }
  &.ap-file-zip-o::before,
  &.ap-file-archive-o::before { content: "\f1c6"; }
  &.ap-file-sound-o::before,
  &.ap-file-audio-o::before { content: "\f1c7"; }
  &.ap-file-movie-o::before,
  &.ap-file-video-o::before { content: "\f1c8"; }
  &.ap-file-code-o::before { content: "\f1c9"; }
  &.ap-vine::before { content: "\f1ca"; }
  &.ap-codepen::before { content: "\f1cb"; }
  &.ap-jsfiddle::before { content: "\f1cc"; }
  &.ap-life-bouy::before,
  &.ap-life-buoy::before,
  &.ap-life-saver::before,
  &.ap-support::before,
  &.ap-life-ring::before { content: "\f1cd"; }
  &.ap-circle-o-notch::before { content: "\f1ce"; }
  &.ap-ra::before,
  &.ap-rebel::before { content: "\f1d0"; }
  &.ap-ge::before,
  &.ap-empire::before { content: "\f1d1"; }
  &.ap-git-square::before { content: "\f1d2"; }
  &.ap-git::before { content: "\f1d3"; }
  &.ap-hacker-news::before { content: "\f1d4"; }
  &.ap-tencent-weibo::before { content: "\f1d5"; }
  &.ap-qq::before { content: "\f1d6"; }
  &.ap-wechat::before,
  &.ap-weixin::before { content: "\f1d7"; }
  &.ap-send::before,
  &.ap-paper-plane::before { content: "\f1d8"; }
  &.ap-send-o::before,
  &.ap-paper-plane-o::before { content: "\f1d9"; }
  &.ap-history::before { content: "\f1da"; }
  &.ap-genderless::before,
  &.ap-circle-thin::before { content: "\f1db"; }
  &.ap-header::before { content: "\f1dc"; }
  &.ap-paragraph::before { content: "\f1dd"; }
  &.ap-sliders::before { content: "\f1de"; }
  &.ap-share-alt::before { content: "\f1e0"; }
  &.ap-share-alt-square::before { content: "\f1e1"; }
  &.ap-bomb::before { content: "\f1e2"; }
  &.ap-soccer-ball-o::before,
  &.ap-futbol-o::before { content: "\f1e3"; }
  &.ap-tty::before { content: "\f1e4"; }
  &.ap-binoculars::before { content: "\f1e5"; }
  &.ap-plug::before { content: "\f1e6"; }
  &.ap-slideshare::before { content: "\f1e7"; }
  &.ap-twitch::before { content: "\f1e8"; }
  &.ap-yelp::before { content: "\f1e9"; }
  &.ap-newspaper-o::before { content: "\f1ea"; }
  &.ap-wifi::before { content: "\f1eb"; }
  &.ap-calculator::before { content: "\f1ec"; }
  &.ap-paypal::before { content: "\f1ed"; }
  &.ap-google-wallet::before { content: "\f1ee"; }
  &.ap-cc-visa::before { content: "\f1f0"; }
  &.ap-cc-mastercard::before { content: "\f1f1"; }
  &.ap-cc-discover::before { content: "\f1f2"; }
  &.ap-cc-amex::before { content: "\f1f3"; }
  &.ap-cc-paypal::before { content: "\f1f4"; }
  &.ap-cc-stripe::before { content: "\f1f5"; }
  &.ap-bell-slash::before { content: "\f1f6"; }
  &.ap-bell-slash-o::before { content: "\f1f7"; }
  &.ap-trash::before { content: "\f1f8"; }
  &.ap-copyright::before { content: "\f1f9"; }
  &.ap-at::before { content: "\f1fa"; }
  &.ap-eyedropper::before { content: "\f1fb"; }
  &.ap-paint-brush::before { content: "\f1fc"; }
  &.ap-birthday-cake::before { content: "\f1fd"; }
  &.ap-area-chart::before { content: "\f1fe"; }
  &.ap-pie-chart::before { content: "\f200"; }
  &.ap-line-chart::before { content: "\f201"; }
  &.ap-lastfm::before { content: "\f202"; }
  &.ap-lastfm-square::before { content: "\f203"; }
  &.ap-toggle-off::before { content: "\f204"; }
  &.ap-toggle-on::before { content: "\f205"; }
  &.ap-bicycle::before { content: "\f206"; }
  &.ap-bus::before { content: "\f207"; }
  &.ap-ioxhost::before { content: "\f208"; }
  &.ap-angellist::before { content: "\f209"; }
  &.ap-cc::before { content: "\f20a"; }
  &.ap-shekel::before,
  &.ap-sheqel::before,
  &.ap-ils::before { content: "\f20b"; }
  &.ap-meanpath::before { content: "\f20c"; }
  &.ap-buysellads::before { content: "\f20d"; }
  &.ap-connectdevelop::before { content: "\f20e"; }
  &.ap-dashcube::before { content: "\f210"; }
  &.ap-forumbee::before { content: "\f211"; }
  &.ap-leanpub::before { content: "\f212"; }
  &.ap-sellsy::before { content: "\f213"; }
  &.ap-shirtsinbulk::before { content: "\f214"; }
  &.ap-simplybuilt::before { content: "\f215"; }
  &.ap-skyatlas::before { content: "\f216"; }
  &.ap-cart-plus::before { content: "\f217"; }
  &.ap-cart-arrow-down::before { content: "\f218"; }
  &.ap-diamond::before { content: "\f219"; }
  &.ap-ship::before { content: "\f21a"; }
  &.ap-user-secret::before { content: "\f21b"; }
  &.ap-motorcycle::before { content: "\f21c"; }
  &.ap-street-view::before { content: "\f21d"; }
  &.ap-heartbeat::before { content: "\f21e"; }
  &.ap-venus::before { content: "\f221"; }
  &.ap-mars::before { content: "\f222"; }
  &.ap-mercury::before { content: "\f223"; }
  &.ap-transgender::before { content: "\f224"; }
  &.ap-transgender-alt::before { content: "\f225"; }
  &.ap-venus-double::before { content: "\f226"; }
  &.ap-mars-double::before { content: "\f227"; }
  &.ap-venus-mars::before { content: "\f228"; }
  &.ap-mars-stroke::before { content: "\f229"; }
  &.ap-mars-stroke-v::before { content: "\f22a"; }
  &.ap-mars-stroke-h::before { content: "\f22b"; }
  &.ap-neuter::before { content: "\f22c"; }
  &.ap-facebook-official::before { content: "\f230"; }
  &.ap-pinterest-p::before { content: "\f231"; }
  &.ap-whatsapp::before { content: "\f232"; }
  &.ap-server::before { content: "\f233"; }
  &.ap-user-plus::before { content: "\f234"; }
  &.ap-user-times::before { content: "\f235"; }
  &.ap-hotel::before,
  &.ap-bed::before { content: "\f236"; }
  &.ap-viacoin::before { content: "\f237"; }
  &.ap-train::before { content: "\f238"; }
  &.ap-subway::before { content: "\f239"; }
  &.ap-medium-logo::before { content: "\f23a"; }
  &.ap-500px::before { content: "\f26e"; }
  &.ap-amazon::before { content: "\f270"; }
  &.ap-balance-scale::before { content: "\f24e"; }
  &.ap-battery-empty::before,
  &.ap-battery-0::before { content: "\f244"; }
  &.ap-battery-quarter::before,
  &.ap-battery-1::before { content: "\f243"; }
  &.ap-battery-half::before,
  &.ap-battery-2::before { content: "\f242"; }
  &.ap-battery-three-quarters::before,
  &.ap-battery-3::before { content: "\f241"; }
  &.ap-battery-full::before,
  &.ap-battery-4::before { content: "\f240"; }
  &.ap-black-tie::before { content: "\f27e"; }
  &.ap-calendar-check-o::before { content: "\f274"; }
  &.ap-calendar-minus-o::before { content: "\f272"; }
  &.ap-calendar-plus-o::before { content: "\f271"; }
  &.ap-calendar-times-o::before { content: "\f273"; }
  &.ap-cc-diners-club::before { content: "\f24c"; }
  &.ap-cc-jcb::before { content: "\f24b"; }
  &.ap-chrome::before { content: "\f268"; }
  &.ap-clone::before { content: "\f24d"; }
  &.ap-commenting::before { content: "\f27a"; }
  &.ap-commenting-o::before { content: "\f27b"; }
  &.ap-contao::before { content: "\f26d"; }
  &.ap-creative-commons::before { content: "\f25e"; }
  &.ap-expeditedssl::before { content: "\f23e"; }
  &.ap-firefox::before { content: "\f269"; }
  &.ap-fonticons::before { content: "\f280"; }
  &.ap-get-pocket::before { content: "\f265"; }
  &.ap-gg::before { content: "\f260"; }
  &.ap-gg-circle::before { content: "\f261"; }
  &.ap-hand-lizard-o::before { content: "\f258"; }
  &.ap-hand-stop-o::before,
  &.ap-hand-paper-o::before { content: "\f256"; }
  &.ap-hand-peace-o::before { content: "\f25b"; }
  &.ap-hand-pointer-o::before { content: "\f25a"; }
  &.ap-hand-grab-o::before,
  &.ap-hand-rock-o::before { content: "\f255"; }
  &.ap-hand-scissors-o::before { content: "\f257"; }
  &.ap-hand-spock-o::before { content: "\f259"; }
  &.ap-hourglass::before { content: "\f254"; }
  &.ap-hourglass-o::before { content: "\f250"; }
  &.ap-hourglass-1::before,
  &.ap-hourglass-start::before { content: "\f251"; }
  &.ap-hourglass-2::before,
  &.ap-hourglass-half::before { content: "\f252"; }
  &.ap-hourglass-3::before,
  &.ap-hourglass-end::before { content: "\f253"; }
  &.ap-houzz::before { content: "\f27c"; }
  &.ap-i-cursor::before { content: "\f246"; }
  &.ap-industry::before { content: "\f275"; }
  &.ap-internet-explorer::before { content: "\f26b"; }
  &.ap-map::before { content: "\f279"; }
  &.ap-map-o::before { content: "\f278"; }
  &.ap-map-pin::before { content: "\f276"; }
  &.ap-map-signs::before { content: "\f277"; }
  &.ap-mouse-pointer::before { content: "\f245"; }
  &.ap-object-group::before { content: "\f247"; }
  &.ap-object-ungroup::before { content: "\f248"; }
  &.ap-odnoklassniki::before { content: "\f263"; }
  &.ap-odnoklassniki-square::before { content: "\f264"; }
  &.ap-opencart::before { content: "\f23d"; }
  &.ap-opera::before { content: "\f26a"; }
  &.ap-optin-monster::before { content: "\f23c"; }
  &.ap-registered::before { content: "\f25d"; }
  &.ap-safari::before { content: "\f267"; }
  &.ap-sticky-note::before { content: "\f249"; }
  &.ap-sticky-note-o::before { content: "\f24a"; }
  &.ap-tv::before,
  &.ap-television::before { content: "\f26c"; }
  &.ap-trademark::before { content: "\f25c"; }
  &.ap-tripadvisor::before { content: "\f262"; }
  &.ap-vimeo::before { content: "\f27d"; }
  &.ap-wikipedia-w::before { content: "\f266"; }
  &.ap-yc::before,
  &.ap-y-combinator::before { content: "\f23b"; }
  &.ap-yc-square::before,
  &.ap-y-combinator-square::before { content: "\f1d4"; }
  // 4.5
  &.ap-bluetooth::before { content: "\f293"; }
  &.ap-bluetooth-b::before { content: "\f294"; }
  &.ap-codiepie::before { content: "\f284"; }
  &.ap-credit-card-alt::before { content: "\f283"; }
  &.ap-edge::before { content: "\f282"; }
  &.ap-fort-awesome::before { content: "\f286"; }
  &.ap-hashtag::before { content: "\f292"; }
  &.ap-mixcloud::before { content: "\f289"; }
  &.ap-modx::before { content: "\f285"; }
  &.ap-pause-circle::before { content: "\f28b"; }
  &.ap-pause-circle-o::before { content: "\f28c"; }
  &.ap-percent::before { content: "\f295"; }
  &.ap-product-hunt::before { content: "\f288"; }
  &.ap-reddit-alien::before { content: "\f281"; }
  &.ap-scribd::before { content: "\f28a"; }
  &.ap-shopping-bag::before { content: "\f290"; }
  &.ap-shopping-basket::before { content: "\f291"; }
  &.ap-stop-circle::before { content: "\f28d"; }
  &.ap-stop-circle-o::before { content: "\f28e"; }
  &.ap-usb::before { content: "\f287"; }
  // 4.6
  &.ap-american-sign-language-interpreting::before,
  &.ap-asl-interpreting::before { content: "\f2a3"; }
  &.ap-assistive-listening-systems::before { content: "\f2a2"; }
  &.ap-audio-description::before { content: "\f29e"; }
  &.ap-blind::before { content: "\f29d"; }
  &.ap-braille::before { content: "\f2a1"; }
  &.ap-deaf::before,
  &.ap-deafness::before { content: "\f2a4"; }
  &.ap-envira::before { content: "\f299"; }
  &.ap-font-awesome::before,
  &.ap-fa::before { content: "\f2b4"; }
  &.ap-first-order::before { content: "\f2b0"; }
  &.ap-gitlab::before { content: "\f296"; }
  &.ap-glide::before { content: "\f2a5"; }
  &.ap-glide-g::before { content: "\f2a6"; }
  &.ap-hard-of-hearing::before { content: "\f2a4"; }
  &.ap-low-vision::before { content: "\f2a8"; }
  &.ap-question-circle-o::before { content: "\f29c"; }
  &.ap-sign-language::before,
  &.ap-signing::before { content: "\f2a7"; }
  &.ap-snapchat::before { content: "\f2ab"; }
  &.ap-snapchat-ghost::before { content: "\f2ac"; }
  &.ap-snapchat-square::before { content: "\f2ad"; }
  &.ap-themeisle::before { content: "\f2b2"; }
  &.ap-universal-access::before { content: "\f29a"; }
  &.ap-viadeo::before { content: "\f2a9"; }
  &.ap-viadeo-square::before { content: "\f2aa"; }
  &.ap-volume-control-phone::before { content: "\f2a0"; }
  &.ap-wheelchair-alt::before { content: "\f29b"; }
  &.ap-wpbeginner::before { content: "\f297"; }
  &.ap-wpforms::before { content: "\f298"; }
  &.ap-yoast::before { content: "\f2b1"; }
}

.iconBtn {
  @include iconBtnBaseStyle;

  > a {
    display: block;
    width: 100%;
    height: 100%;
    color: #000;
  }

  // state
  &.mini {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    .icon {
      font-size: 10px;
      line-height: 20px;
    }
  }
  &.small {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    .icon {
      line-height: 30px;
    }
  }
  &.large {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    .icon {
      font-size: 24px;
      line-height: 60px;
    }
  }
  &.big {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    .icon {
      font-size: 32px;
      line-height: 80px;
    }
  }

  // skin
  &.primary {
    background: $colorPrimary;
    color: #fff;
    &:hover {
      background: #76828D;
    }

    > a {
      color: #fff;
    }
  }

  &.green {
    background: $colorGreen;
    color: #fff;
    &:hover {
      background: #69D3BF;
    }

    > a {
      color: #fff;
    }
  }

  &.blue {
    background: $colorBlue;
    color: #fff;
    &:hover {
      background: #7BBCE8;
    }

    > a {
      color: #fff;
    }
  }

  &.orange {
    background: $colorOrange;
    color: #fff;
    &:hover {
      background: #F7BF65;
    }

    > a {
      color: #fff;
    }
  }

  &.red {
    background: $colorRed;
    color: #fff;
    &:hover {
      background: #EF8B80;
    }

    > a {
      color: #fff;
    }
  }
}

/*
 * Badge Style
*/
.badge {
  display: inline-block;
  min-width: 20px;
  padding: 0 4px;
  border-radius: 2px;
  background: $colorDefault;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  &.round {
    border-radius: 10px;
    line-height: 20px;
  }

  // skin
  &.primary {
    background: $colorPrimary;
    color: #fff;
  }

  &.green {
    background: $colorGreen;
    color: #fff;
  }

  &.blue {
    background: $colorBlue;
    color: #fff;
  }

  &.orange {
    background: $colorOrange;
    color: #fff;
  }

  &.red {
    background: $colorRed;
    color: #fff;
  }

  // state size
  &.mini {
    line-height: 12px;
    font-size: 10px;
    &.round {
      min-width: 12px;
      padding: 0 2px;
    }
  }
  &.small {
    line-height: 14px;
    font-size: 11px;
    &.round {
      min-width: 16px;
      padding: 0 2px;
      line-height: 16px;
    }
  }
  &.large {
    padding: 0 8px;
    line-height: 24px;
    font-size: 16px;
    &.round {
      min-width: 24px;
      border-radius: 12px;
    }
  }
  &.big {
    padding: 0 8px;
    line-height: 30px;
    font-size: 18px;
    &.round {
      min-width: 30px;
      border-radius: 15px;
    }
  }


}

.notification {
  display: inline-block;
  min-width: 20px;
  padding: 0 4px;
  border-radius: 10px;
  background: $colorRed;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}