/*
 * List Style
*/
.list {

  &.disc,
  &.circle,
  &.square,
  &.lowerRoman,
  &.upperRoman,
  &.lowerGreek,
  &.upperRoman,
  &.lowerGreek,
  &.decimal,
  &.decimalLeadingZero,
  &.lowerLatin,
  &.upperLatin,
  &.lowerAlpha,
  &.upperAlpha,
  &.cjkIdeographic,
  &.hiragana,
  &.katakana,
  &.hiraganaIroha,
  &.katakanaIroha,
  &.hebrew,
  &.armenian,
  &.georgian {
    padding-left: 24px;
  }

  &.disc {
    list-style-type: disc;
  }

  &.circle {
    list-style-type: circle;
  }

  &.square {
    list-style-type: square;
  }

  &.lowerRoman {
    list-style-type: lower-roman;
  }

  &.upperRoman {
    list-style-type: upper-roman;
  }

  &.lowerGreek {
    list-style-type: lower-greek;
  }

  &.decimal {
    list-style-type: decimal;
  }

  &.decimalLeadingZero {
    list-style-type: decimal-leading-zero;
  }

  &.lowerLatin {
    list-style-type: lower-latin;
  }

  &.upperLatin {
    list-style-type: upper-latin;
  }

  &.lowerAlpha {
    list-style-type: lower-alpha;
  }

  &.upperAlpha {
    list-style-type: upper-alpha;
  }

  &.cjkIdeographic {
    list-style-type: cjk-ideographic;
  }

  &.hiragana {
    list-style-type: hiragana;
  }

  &.katakana {
    list-style-type: katakana;
  }

  &.hiraganaIroha {
    list-style-type: hiragana-iroha;
  }

  &.katakanaIroha {
    list-style-type: katakana-iroha;
  }

  &.hebrew {
    list-style-type: hebrew;
  }

  &.armenian {
    list-style-type: armenian;
  }

  &.georgian {
    list-style-type: georgian;
  }

}


.thumbnailList {

}

.btnList {

  > li {
    & + li {
      margin-left: 8px;
    }
  }

  &.center {
    display: block;
    text-align: center;
  }

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }
}

.pictureList {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  > li {
    flex: 1;
    margin: 0 25px;

    .title.picture {
      margin-top: 40px;
    }
    .text.picture {
      margin-top: 20px;
    }
  }
}