
.modalWindow {
  display: none;
  position: fixed;
  top: 100px;
  left: 100px;
  width: 800px;
  min-height: 400px;
  background: #fff;
  z-index: 5000;
  &.open {
    display: block;
  }
}

.modalWindowBackDrop {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  &.show {
    display: block;
  }
}