
.modalWindow {
  .modalBody {
    width: 800px;
    min-height: 400px;
    background: #fff;
    z-index: 5000;
  }
}

.modalWindowBackDrop {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  &.show {
    display: block;
  }
}