/*
 * Navigation & Menu Style
*/

/*
 * Menu
*/
.menuList {

}

.menu {
  flex: 1;
  .menuList {
    display: flex;
    > li {
      a {
        display: inline-block;
        padding: 0 10px;
        min-height: 30px;
        line-height: 30px;
        text-align: center;
        text-decoration: none;
      }
    }

    &.right {
      justify-content: flex-end;
    }

    &.center {
      justify-content: center;
    }
  }
}

/*
 * Pagination
*/
// size (width)
$paginationNarrow: 20px;
$paginationShort: 30px;
$paginationLong: 80px;
$paginationWide: 160px;

// size (height)
$paginationLower: 20px;
$paginationLow: 30px;
$paginationHigh: 80px;
$paginationLofty: 160px;

// size (width x height)
$paginationMini: 20px;
$paginationSmall: 30px;
$paginationLarge: 50px;
$paginationBig: 60px;

// size (font)
$paginationMiniFont: 10px;
$paginationSmallFont: 12px;
$paginationBigFont: 16px;

.paginationList {
  > li {
    display: inline-block;
    min-width: 40px;
    min-height: 40px;
    border-radius: 4px;
    box-sizing: border-box;
    vertical-align: top;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 40px;
      min-height: 40px;
      padding: 0 6px;
      border-radius: 4px;
      box-sizing: border-box;
      text-decoration: none;
      text-align: center;
      line-height: 40px;
      color: #666;
    }

    &.active,
    &:hover {
      a {
        color: #337AB7;
      }
    }

    &:not(:first-child),
    &:not(:last-child) {
      margin: 0 4px;
    }

    // state size (height)
    &.narrow {
      min-width: $paginationNarrow;
      a {
        min-width: $paginationNarrow;
      }
    }
    &.short {
      min-width: $paginationShort;
      a {
        min-width: $paginationShort;
      }
    }
    &.long {
      min-width: $paginationLong;
      a {
        min-width: $paginationLong;
      }
    }
    &.wide {
      min-width: $paginationWide;
      a {
        min-width: $paginationWide;
      }
    }

    // state size (height)
    &.lower {
      min-height: $paginationLower;
      a {
        min-height: $paginationLower;
        line-height: $paginationLower;
      }
    }
    &.low {
      min-height: $paginationLow;
      a {
        min-height: $paginationLow;
        line-height: $paginationLow;
      }
    }
    &.high {
      min-height: $paginationHigh;
      a {
        min-height: $paginationHigh;
        line-height: $paginationHigh;
      }
    }
    &.lofty {
      min-height: $paginationLofty;
      a {
        min-height: $paginationLofty;
        line-height: $paginationLofty;
      }
    }

    // state size
    &.mini {
      min-width: $paginationMini;
      min-height: $paginationMini;
      a {
        min-width: $paginationMini;
        min-height: $paginationMini;
        line-height: $paginationMini;
        font-size: $paginationMiniFont;
      }
    }
    &.small {
      min-width: $paginationSmall;
      min-height: $paginationSmall;
      a {
        min-width: $paginationSmall;
        min-height: $paginationSmall;
        line-height: $paginationSmall;
        font-size: $paginationSmallFont;
      }
    }
    &.large {
      min-width: $paginationLarge;
      min-height: $paginationLarge;
      a {
        min-width: $paginationLarge;
        min-height: $paginationLarge;
        line-height: $paginationLarge;
      }
    }
    &.big {
      min-width: $paginationBig;
      min-height: $paginationBig;
      a {
        min-width: $paginationBig;
        min-height: $paginationBig;
        line-height: $paginationBig;
        font-size: $paginationBigFont;
      }
    }
  }

  // state size
  &.mini {
    > li {
      min-width: $paginationMini;
      min-height: $paginationMini;
      a {
        min-width: $paginationMini;
        min-height: $paginationMini;
        line-height: $paginationMini;
        font-size: $paginationMiniFont;
      }
    }
  }
  &.small {
    > li {
      min-width: $paginationSmall;
      min-height: $paginationSmall;
      a {
        min-width: $paginationSmall;
        min-height: $paginationSmall;
        line-height: $paginationSmall;
        font-size: $paginationSmallFont;
      }
    }
  }
  &.large {
    > li {
      min-width: $paginationLarge;
      min-height: $paginationLarge;
      a {
        min-width: $paginationLarge;
        min-height: $paginationLarge;
        line-height: $paginationLarge;
      }
    }
  }
  &.big {
    > li {
      min-width: $paginationBig;
      min-height: $paginationBig;
      a {
        min-width: $paginationBig;
        min-height: $paginationBig;
        line-height: $paginationBig;
        font-size: $paginationBigFont;
      }
    }
  }

  // skin Square
  &.square {
    > li {
      border: #EAEAEA 1px solid;
      background: $colorDefault;

      &.active,
      &:hover {
        border-color: #30699B;
        background: $colorBlue;
        a {
          color: #fff;
        }
      }
    }

    // skin
    &.primary > li {
      border-color: $colorBorderPrimary;
      background: $colorPrimary;
      a {
        color: #fff;
      }
      &.active,
      &:hover {
        border-color: $colorBorderPrimary;
        background: $colorHoverPrimary;
      }
    }
    &.green > li {
      border-color: $colorBorderGreen;
      background: $colorGreen;
      a {
        color: #fff;
      }
      &.active,
      &:hover {
        border-color: $colorBorderGreen;
        background: $colorHoverGreen;
      }
    }
    &.blue > li {
      border-color: $colorBorderBlue;
      background: $colorBlue;
      a {
        color: #fff;
      }
      &.active,
      &:hover {
        border-color: $colorBorderBlue;
        background: $colorHoverBlue;
      }
    }
    &.orange > li {
      border-color: $colorBorderOrange;
      background: $colorOrange;
      a {
        color: #fff;
      }
      &.active,
      &:hover {
        border-color: $colorBorderOrange;
        background: $colorHoverOrange;
      }
    }
    &.red > li {
      border-color: $colorBorderRed;
      background: $colorRed;
      a {
        color: #fff;
      }
      &.active,
      &:hover {
        border-color: $colorBorderRed;
        background: $colorHoverRed;
      }
    }

  }


}

/*
 * TabMenu
*/
.tabList {
  @include clearfix;
  display: inline-block;
  min-width: 500px;
  border-bottom: #E5E5E5 1px solid;

  > li {
    display: block;
    float: left;
    margin-bottom: -1px;
    box-sizing: border-box;

    a {
      display: block;
      min-width: 80px;
      min-height: 30px;
      border: 1px solid transparent;
      border-bottom-width: 0;
      background: #fff;
      box-sizing: border-box;
      padding: 0 6px;
      line-height: 30px;
      text-decoration: none;
      text-align: center;
    }

    &.active {
      a {
        border: #E5E5E5 1px solid;
        border-bottom-color: transparent;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        color: #666666;
      }
    }

    &.disable {
      a {
        cursor: text;
      }
    }
  }

  /* Skin */
  &.primary {
    li a {
      color: $colorPrimary;
    }
  }
  &.blue {
    li a {
      color: $colorBlue;
    }
  }
  &.green {
    li a {
      color: $colorGreen;
    }
  }
  &.orange {
    li a {
      color: $colorOrange;
    }
  }
  &.red {
    li a {
      color: $colorRed;
    }
  }

  /* Size */
  &.mini {
    font-size: 10px;
    > li {
      a {
        min-width: 40px;
        min-height: 20px;
        line-height: 20px;
      }
    }
  }
  &.small {
    font-size: 12px;
    > li {
      a {
        min-width: 60px;
        min-height: 24px;
        line-height: 24px;
      }
    }
  }
  &.large {
    font-size: 18px;
    > li {
      a {
        min-width: 120px;
        min-height: 40px;
        line-height: 40px;
      }
    }
  }
  &.big {
    font-size: 24px;
    > li {
      a {
        min-width: 150px;
        min-height: 50px;
        line-height: 50px;
      }
    }
  }


  // width
  &.narrow {
    min-width: 150px;
  }
  &.short {
    min-width: 300px;
  }
  &.long {
    min-width: 800px;
  }
  &.wide {
    min-width: 1000px;
  }
  &.free {
    min-width: 100%;
  }

  // height
  &.lower {
    > li {
      a {
        min-height: 20px;
        line-height: 20px;
        font-size: 10px;
      }
    }
  }
  &.low {
    > li {
      a {
        min-height: 24px;
        line-height: 24px;
        font-size: 12px;
      }
    }
  }
  &.high {
    > li {
      a {
        min-height: 40px;
        line-height: 40px;
        font-size: 18px;
      }
    }
  }
  &.lofty {
    > li {
      a {
        min-height: 50px;
        line-height: 50px;
        font-size: 24px;
      }
    }
  }
}

/*
 * Nav
*/

// size (width)
$navNarrow: 70px;
$navShort: 100px;
$navLong: 240px;
$navWide: 480px;
$navFree: auto;

// size (height)
$navLower: 20px;
$navLow: 25px;
$navHigh: 40px;
$navLofty: 50px;

.navList {
  width: 170px;

  li {
    margin-bottom: 6px;
    box-sizing: border-box;
    a {
      display: block;
      padding: 0 12px;
      box-sizing: border-box;
      line-height: 26px;
      color: #666;
      text-decoration: none;
    }

    &:hover {
      a {
        background: $colorDefault;
      }
    }
    &.active {
      a {
        background: $colorPrimary;
        color: #fff;
      }
    }
  }

  .title {
    font-weight: bold;
  }

  // skin
  &.primary {
    li {
      &.active {
        a {
          background: $colorPrimary;
          color: #fff;
        }
      }
    }
  }
  &.blue {
    li {
      &.active {
        a {
          background: $colorBlue;
          color: #fff;
        }
      }
    }
  }
  &.green {
    li {
      &.active {
        a {
          background: $colorGreen;
          color: #fff;
        }
      }
    }
  }
  &.orange {
    li {
      &.active {
        a {
          background: $colorOrange;
          color: #fff;
        }
      }
    }
  }
  &.red {
    li {
      &.active {
        a {
          background: $colorRed;
          color: #fff;
        }
      }
    }
  }


  // state size
  &.mini {
    width: $navNarrow;
    li {
      a {
        line-height: 16px;
        font-size: 10px;
      }
    }
  }
  &.small {
    width: $navShort;
    li {
      a {
        line-height: 20px;
        font-size: 12px;
      }
    }
  }
  &.large {
    width: $navLong;
    li {
      a {
        line-height: 32px;
      }
    }
  }
  &.big {
    width: $navWide;
    li {
      a {
        line-height: 40px;
        font-size: 16px;
      }
    }
  }

  // width
  &.narrow {
    width: $navNarrow;
  }
  &.short {
    width: $navShort;
  }
  &.long {
    width: $navLong;
  }
  &.wide {
    width: $navWide;
  }
  &.free {
    width: $navFree;
  }

  // height
  &.lower {
    li {
      a {
        line-height: 16px;
        font-size: 10px;
      }
    }
  }
  &.low {
    li {
      a {
        line-height: 20px;
        font-size: 12px;
      }
    }
  }
  &.high {
    li {
      a {
        line-height: 32px;
      }
    }
  }
  &.lofty {
    li {
      a {
        line-height: 40px;
        font-size: 16px;
      }
    }
  }
}


.navBar {
  @include clearfix;
  position: relative;
  background: #f7f7f7;
  color: #666;
  border: 1px solid rgba(0,0,0,.1);
  border-bottom-color: rgba(0,0,0,.3);
  border-radius: 4px;
  background-origin: border-box;
  background-image: linear-gradient(to bottom, #fff, #eee);

  > .box {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 8px;
    padding-right: 8px;
  }

  > * {
    float: left;
  }

  /* State */
  > .right {
    float: right;
  }
  > .center {
    position: absolute;
    width: 100%;
    justify-content: center;
  }

}

.navBarList {
  @include clearfix;
  > li {
    position: relative;
    float: left;
    > a {
      display: block;
      box-sizing: border-box;
      text-decoration: none;
      height: 41px;
      padding: 0 15px;
      line-height: 40px;
      color: #666;
      font-size: 14px;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 400;
      margin-top: -1px;
      margin-left: -1px;
      border: 1px solid transparent;
      border-bottom-width: 0;
      text-shadow: 0 1px 0 #fff;
    }

    &.active > a {
      background-color: #fafafa;
      color: #666;
      border-left-color: rgba(0,0,0,.1);
      border-right-color: rgba(0,0,0,.1);
      border-top-color: rgba(0,0,0,.2);
      box-shadow: inset 0 2px 4px rgba(0,0,0,.1);
    }

    .title.sub {
      display: block;
      margin-top: -10px;
      font-size: 12px;
      line-height: 1;
    }
  }
}

.subNavList {
  @include clearfix;
  > li {
    float: left;
    a {
      display: inline-block;
      min-width: 60px;
      padding: 8px;
      border-radius: 4px;
      text-decoration: none;
      text-align: center;
    }

    & + li {
      margin-left: 8px;
    }

    &.active {
      a {
        background: #337AB7;
        color: #fff;
      }
    }
  }
}

/*
 * breadcrumb
*/
.breadcrumb {

}

.breadcrumbList {
  > li {
    display: inline-block;

    & + li {
      &::before {
        display: inline-block;
        content: "/";
        margin: 0 5px;
        color: #CCCCCD;
      }
    }
    a {
      text-decoration: none;
    }

    &.active {
      color: #77777E;
      a {
        color: #77777E;
      }
    }

    &.disable {
      pointer-events: none;
      a {
        color: #999999;
      }
    }
  }

  // state size
  &.mini {
    font-size: 10px;
  }
  &.small {
    font-size: 12px;
  }
  &.large {
    font-size: 16px;
  }
  &.big {
    font-size: 20px;
  }

}
