/*
 * Navigation & Menu Style
*/

/*
 * Menu
*/
.menuList {

}

.menu {
  .menuList {
    display: flex;
    justify-content: space-between;
    border-right: #999 1px solid;
    li {
      flex: 1;
      border-top: #999 1px solid;
      border-bottom: #999 1px solid;
      border-left: #999 1px solid;
      a {
        display: block;
        min-height: 40px;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

/*
 * Pagination
*/
.paginationList {
  > li {
    display: inline-block;
    min-width: 40px;
    min-height: 40px;
    border-radius: 4px;
    background: $colorDefault;
    box-sizing: border-box;
    vertical-align: top;
    a {
      display: block;
      min-width: 40px;
      min-height: 40px;
      padding: 0 6px;
      border-radius: 4px;
      box-sizing: border-box;
      text-decoration: none;
      text-align: center;
      line-height: 40px;
      color: #666;
    }

    &.active,
    &:hover {
      background: $colorBlue;
      a {
        color: #fff;
      }
    }

    &:not(:first-child),
    &:not(:last-child) {
      margin: 0 4px;
    }
  }

  // skin
  &.primary > li {
    background: $colorPrimary;
    a {
      color: #fff;
    }
    &.active,
    &:hover {
      background: $colorDefault;
      a {
        color: #666;
      }
    }
  }
  &.green > li {
    background: $colorGreen;
    a {
      color: #fff;
    }
    &.active,
    &:hover {
      background: $colorDefault;
      a {
        color: #666;
      }
    }
  }
  &.blue > li {
    background: $colorBlue;
    a {
      color: #fff;
    }
    &.active,
    &:hover {
      background: $colorDefault;
      a {
        color: #666;
      }
    }
  }
  &.orange > li {
    background: $colorOrange;
    a {
      color: #fff;
    }
    &.active,
    &:hover {
      background: $colorDefault;
      a {
        color: #666;
      }
    }
  }
  &.red > li {
    background: $colorRed;
    a {
      color: #fff;
    }
    &.active,
    &:hover {
      background: $colorDefault;
      a {
        color: #666;
      }
    }
  }

  // state
  &.mini {
    > li {
      min-width: 20px;
      min-height: 20px;
      a {
        min-width: 20px;
        min-height: 20px;
        line-height: 20px;
        font-size: 10px;
      }
    }
  }
  &.small {
    > li {
      min-width: 30px;
      min-height: 30px;
      a {
        min-width: 30px;
        min-height: 30px;
        line-height: 30px;
        font-size: 12px;
      }
    }
  }
  &.large {
    > li {
      min-width: 40px;
      min-height: 40px;
      a {
        min-width: 40px;
        min-height: 40px;
        line-height: 40px;
      }
    }
  }
  &.big {
    > li {
      min-width: 50px;
      min-height: 50px;
      a {
        min-width: 50px;
        min-height: 50px;
        line-height: 50px;
        font-size: 16px;
      }
    }
  }
}

/*
 * TabMenu
*/
.tabList {
  @include clearfix;

  > li {
    display: inline-block;
    float: left;
    box-sizing: border-box;
    border-left: #fff 1px solid;
    border-right: #fff 1px solid;
    border-left-color: transparent;
    border-right-color: transparent;

    border-bottom: #E5E5E5 1px solid;

    a {
      display: block;
      min-width: 80px;
      min-height: 30px;
      box-sizing: border-box;
      padding: 0 6px;
      line-height: 30px;
      text-decoration: none;
      text-align: center;
    }

    &.active {
      border: #E5E5E5 1px solid;
      border-bottom: none;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      a {
        color: #666666;
      }
    }

    &.disable {
      a {
        cursor: text;
      }
    }
  }
}

/*
 * Nav
*/

// size (width)
$navNarrow: 70px;
$navShort: 100px;
$navLong: 240px;
$navWide: 480px;
$navFree: auto;

// size (height)
$navLower: 20px;
$navLow: 25px;
$navHigh: 40px;
$navLofty: 50px;

.navList {
  width: 170px;

  li {
    margin-bottom: 6px;
    box-sizing: border-box;
    a {
      display: block;
      padding: 0 12px;
      box-sizing: border-box;
      line-height: 26px;
      color: #666;
      text-decoration: none;
    }

    &:hover {
      a {
        background: $colorDefault;
      }
    }
    &.active {
      a {
        background: $colorPrimary;
        color: #fff;
      }
    }
  }

  .title {
    font-weight: bold;
  }

  // skin
  &.primary {
    li {
      &.active {
        a {
          background: $colorPrimary;
          color: #fff;
        }
      }
    }
  }
  &.blue {
    li {
      &.active {
        a {
          background: $colorBlue;
          color: #fff;
        }
      }
    }
  }
  &.green {
    li {
      &.active {
        a {
          background: $colorGreen;
          color: #fff;
        }
      }
    }
  }
  &.orange {
    li {
      &.active {
        a {
          background: $colorOrange;
          color: #fff;
        }
      }
    }
  }
  &.red {
    li {
      &.active {
        a {
          background: $colorRed;
          color: #fff;
        }
      }
    }
  }


  // state size
  &.mini {
    width: $navNarrow;
    li {
      a {
        line-height: 16px;
        font-size: 10px;
      }
    }
  }
  &.small {
    width: $navShort;
    li {
      a {
        line-height: 20px;
        font-size: 12px;
      }
    }
  }
  &.large {
    width: $navLong;
    li {
      a {
        line-height: 32px;
      }
    }
  }
  &.big {
    width: $navWide;
    li {
      a {
        line-height: 40px;
        font-size: 16px;
      }
    }
  }

  // width
  &.narrow {
    width: $navNarrow;
  }
  &.short {
    width: $navShort;
  }
  &.long {
    width: $navLong;
  }
  &.wide {
    width: $navWide;
  }
  &.free {
    width: $navFree;
  }

  // height
  &.lower {
    li {
      a {
        line-height: 16px;
        font-size: 10px;
      }
    }
  }
  &.low {
    li {
      a {
        line-height: 20px;
        font-size: 12px;
      }
    }
  }
  &.high {
    li {
      a {
        line-height: 32px;
      }
    }
  }
  &.lofty {
    li {
      a {
        line-height: 40px;
        font-size: 16px;
      }
    }
  }
}