/*
 * Paragraph Style
*/

/* Atomic */
.font {}

/* Atomic */
.text,
.string {
  line-height: 1.4;
  color: #3D3D3D;

  /* Skin */
  &.primary {
    color: $colorPrimary;
  }
  &.blue {
    color: $colorBlue;
  }
  &.green {
    color: $colorGreen;
  }
  &.orange {
    color: $colorOrange;
  }
  &.red {
    color: $colorRed;
  }

  /* State */
  &.center {
    text-align: center;
  }
  &.strong {
    font-weight: bold;
  }

  &.mini {
    font-size: 10px;
  }
  &.small {
    font-size: 12px;
  }
  &.large {
    font-size: 18px;
  }
  &.big {
    font-size: 24px;
  }

  /* Atomic */
  strong {
    //color: #DC7F28;
  }
}

/* Atomic */
.label {
  padding: 6px 0;
  font-size: 18px;
  font-weight: bold;
}

/* thumbnail */
/* Atomic */
.thumbnail,
.thumbnail:not(img) {
  /* Skin */
  &.round {
    img {
      border-radius: 4px;
    }
  }

  /* Skin */
  &.circle {
    img {
      border-radius: $thumbnailWidth / 2;
    }
  }

  /* Skin */
  &.frame {}

  /* State */
  &.center {
    text-align: center;
  }
}

img.thumbnail {
  /* Skin */
  &.round {
    border-radius: 4px;
  }

  /* Skin */
  &.circle {
    border-radius: $thumbnailWidth / 2;
  }

  /* Skin */
  &.frame {}
}

/* alert */
.alert {
  padding: 10px;
  border: #B2CFDD 1px solid;
  border-radius: 4px;
  background: #EBF7FD;
  color: #47829E;

  /* Skin */
  &.green {
    border-color: #C8DFA5;
    background: #F2FAE3;
    color: #659F13;
  }

  /* Skin */
  &.yellow {
    border-color: #F6D8B0;
    background: #FFFCEB;
    color: #E28327;
  }

  /* Skin */
  &.red {
    border-color: #F3C1B7;
    background: #FFF1F0;
    color: #D85030;
  }
}