/*
 * Paragraph Style
*/

/* Atomic */
.font {}

/* Atomic */
.text {

  /* Skin */
  &.orange {
    color: #E5A45B;
  }

  /* State */
  &.center {
    text-align: center;
  }
  &.note {
    color: #BC0000;
  }
  &.success {
    color: #6A9E00;
  }

  /* Module */
  .icon.ban {
    margin: 0 4px -10px 0;
  }

  /* Atomic */
  strong {
    color: #DC7F28;
  }
}

/* Atomic */
.thumbnail {

  /* State */
  &.center {
    text-align: center;
  }

  /* Module */
  &.apbCSSType {
    margin: 40px 0;
  }
}

/* Atomic */
.label {
  padding: 6px 0;
  font-size: 18px;
  font-weight: bold;
}
