/*
 * Paragraph Style
*/

/* Atomic */
.font {}

/* Atomic */
.text {

  /* Skin */
  &.orange {
    color: #E5A45B;
  }

  /* State */
  &.center {
    text-align: center;
  }
  &.note {
    color: #BC0000;
  }
  &.success {
    color: #6A9E00;
  }

  /* Module */
  .icon.ban {
    margin: 0 4px -10px 0;
  }

  /* Atomic */
  strong {
    color: #DC7F28;
  }
}

/* Atomic */
.label {
  padding: 6px 0;
  font-size: 18px;
  font-weight: bold;
}

/* thumbnail */
/* Atomic */
.thumbnail,
.thumbnail:not(img) {
  /* Skin */
  &.round {
    img {
      border-radius: 4px;
    }
  }

  /* Skin */
  &.circle {
    img {
      border-radius: $thumbnailWidth / 2;
    }
  }

  /* Skin */
  &.frame {}

  /* State */
  &.center {
    text-align: center;
  }
}

img.thumbnail {
  /* Skin */
  &.round {
    border-radius: 4px;
  }

  /* Skin */
  &.circle {
    border-radius: $thumbnailWidth / 2;
  }

  /* Skin */
  &.frame {}
}
