/*
 * Separate Style
*/
hr, .hr {
  border-bottom: #E5E5E5 1px solid;

  /* State */
  &.double {
    border: #E5E5E5 1px double;
  }

  &.dotted {
    border-bottom: #E5E5E5 1px dotted;
  }

  &.dashed {
    border-bottom: #E5E5E5 1px dashed;
  }

  /* Size */
  &.large {
    border-width: 2px;
  }
  &.big {
    border-width: 4px;
  }

  /* Skin */
  &.primary {
    border-color: $colorPrimary;
  }
  &.blue {
    border-color: $colorBlue;
  }
  &.green {
    border-color: $colorGreen;
  }
  &.orange {
    border-color: $colorOrange;
  }
  &.red {
    border-color: $colorRed;
  }
}