/*
 * Table Style
*/

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  caption {
    text-align: left;
    color: #999;
    font-size: 12px;
  }

  th,
  td {
    padding: 8px 8px;
    border-bottom: 1px solid #E5E5E5;
    & + th,
    & + td {
      border-left: 1px solid #E5E5E5;
    }
  }

  tfoot {
    font-size: 12px;
    font-style: italic;
  }
}
