/*
 * Title Style
*/
/* Atomic */
.title {
  line-height: 1.4;

  /* Skin */
  &.border {
    padding-bottom: 4px;
    border-bottom: $colorBorderDefault 1px solid;
  }

  /* Skin */
  &.primary {
    color: $colorPrimary;
  }
  &.blue {
    color: $colorBlue;
  }
  &.green {
    color: $colorGreen;
  }
  &.orange {
    color: $colorOrange;
  }
  &.red {
    color: $colorRed;
  }

  /* State*/
  &.hover {

  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  /* Module */
  &.modal {
    font-size: 18px;
    font-weight: bold;
  }

  &.picture {
    font-size: 24px;
    text-align: center;
    line-height: 1.2;
  }
}

/* Atomic */
h1.title {
  font-size: 28px;

  /* Atomic */
  a {
  }

  /* Atomic */
  .mainLogo {
    float: left;
  }

  /* State  Size */
  @include scaleSize(28px);
}

/* Atomic */
h2.title {
  font-size: 24px;

  /* State  Size */
  @include scaleSize(24px);
}

/* Atomic */
h3.title {
  font-size: 22px;

  /* State  Size */
  @include scaleSize(22px);
}

/* Atomic */
h4.title {
  font-size: 20px;

  /* State  Size */
  @include scaleSize(20px);
}

/* Atomic */
h5.title {
  font-size: 18px;

  /* State  Size */
  @include scaleSize(18px);
}

/* Atomic */
h6.title {
  font-size: 16px;

  /* State  Size */
  @include scaleSize(16px);
}