/*
 * Title Style
*/
/* Atomic */
.title {
  &.border {

  }
  
}

/* Atomic */
h1.title {
  font-size: 28px;

  /* Atomic */
  a {
  }

  /* Atomic */
  .mainLogo {
    float: left;
  }

  /* Atomic */
  .text {
    margin-left: 38px;
  }
}

/* Atomic */
h2.title {
  font-size: 24px;

  /* State */
  &.center {
    text-align: center;
  }

  /* Skin */
  &.yellow {
    color: #F6D667;
  }
}

/* Atomic */
h3.title {
  font-size: 22px;
}

/* Atomic */
h4.title {
  font-size: 20px;
}

/* Atomic */
h5.title {
  font-size: 18px;
}

/* Atomic */
h6.title {
  font-size: 16px;
}