/*
 * Reset Style
*/
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body { line-height: 1; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

ol, ul { list-style: none; }

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

em, b { font-style: normal; }

img { vertical-align: top; }

hr {
  display: block;
  height: 1px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

input, select { vertical-align: middle; }

button {
  appearance: none;
  border: none;
  background: none;
  line-height: 1;
  font-size: 14px;
}

input[type="checkbox"],
input[type="radio"],
select {
  appearance: none;
  outline: none;
}
