/*
 * Base Variables
*/
$baseWidth: 1000px;
$baseBgColor: #fff;
$imgPath: "../img/ui/";
$fontPath: "../font/";

/*
 * Color Variables
*/
/* base */
$colorDefault: #F9F9F9;
$colorPrimary: #2C3D50;
$colorGreen: #17BC9C;
$colorBlue: #3598DB;
$colorOrange: #F39C12;
$colorRed: #E74C3C;

$colorBorderDefault: #D9D9D9;
$colorBorderPrimary: #243243;
$colorBorderGreen: #18A68A;
$colorBorderBlue: #3682B6;
$colorBorderOrange: #CB8618;
$colorBorderRed: #DD8177;

$colorHoverDefault: #F5F5F5;
$colorHoverPrimary: #5F6C78;
$colorHoverGreen: #69D3BF;
$colorHoverBlue: #7BBCE8;
$colorHoverOrange: #F7BF65;
$colorHoverRed: #EF8B80;

/* font */
$fontMainColor: #3D3D3D;
$linkMainColor: #1397E1;

/*
 * Font Variables
*/
$fontFamily: Helvetica Neue, Arial, sans-serif, 'Hiragino Kaku Gothic Pro', 'メイリオ';

@font-face {
  font-family: 'FontAwesome';
  src: url("#{$fontPath}fontawesome-webfont.woff2") format('woff2'),
  url("#{$fontPath}fontawesome-webfont.woff") format("woff"),
  url("#{$fontPath}fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*
 * Width Variables
*/
$thumbnailWidth: 45px;


/*
 * Layout Variables
*/
$mediaQueriesPoint1: 414px;

/*
 * Data URL Images
*/
// select icon
$dataSelectIcon: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAA8CAMAAADbh/MlAAAAJ1BMVEVMaXFXV1dVVVVVVVVPT09VVVVVVVVTU1NVVVVUVFRVVVVVVVVVVVV9fqiuAAAADXRSTlMAIDD/EM+PQO+vYL+AO6obDwAAAMBJREFUeNrt1msOgyAQReGRq4CP/a+3aRrT2osc0t/9NmBygBnDTIGSUoB50TJHX5aUo6voqXS/VPVUe19b9bLGrU2nLW5MVad6V2nX2x5Nhz4d7cBXqRn4opU761v2wK5YYFdnC+xWD+w2C+zqZIHd7oHd4YFdagb23B7YcxeREqmQFH9dIw2HzoLPdPBu8B3ju8p3fvzt8Bvkt8wzgWcLz6gfZh3PTJ69PMN5F/BO4d3EO453Je9c3t38D4C8zANwRQ4V3iz4FgAAAABJRU5ErkJggg==";
