$baseWidth: 1000px;
$baseBgColor: #fff;
$imgPath: "../img/ui/";

$colorAqua: #0ff;

$fontfamily: arial, "Hiragino Kaku Gothic Pro", sans-serif;
$fontColorAqua: #0ff;

$thumbnailWidth: 45px;

$mediaQueriesPoint1: 414px;
