$baseWidth: 1000px;
$baseBgColor: #fff;
$imgPath: "../img/ui/";
$fontPath: "../font/";

$colorDefault: #F9F9F9;
$colorPrimary: #2C3D50;
$colorGreen: #17BC9C;
$colorBlue: #3598DB;
$colorOrange: #F39C12;
$colorRed: #E74C3C;

$colorAqua: #0ff;

$linkMainColor: #1397E1;

$fontFamily: Helvetica, Arial, sans-serif, 'Hiragino Kaku Gothic Pro', 'メイリオ';

$fontMainColor: #3D3D3D;

$fontColorAqua: #0ff;

$thumbnailWidth: 45px;

$mediaQueriesPoint1: 414px;

@font-face {
  font-family: 'FontAwesome';
  src: url("#{$fontPath}fontawesome-webfont.woff2") format('woff2'),
  url("#{$fontPath}fontawesome-webfont.woff") format("woff"),
  url("#{$fontPath}fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
