/*
 * Mixin Style
*/
/*
 * Reset Style
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

em, b {
  font-style: normal;
}

img {
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

input, select {
  vertical-align: middle;
}

/*
 * Base Style
*/
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-size: 14px;
  text-align: left;
  font-family: arial, "Hiragino Kaku Gothic Pro", sans-serif;
}

section {
  position: relative;
}

a {
  color: #0060C1;
}

/***
 ** Atomic Parts Contents
  - Bg Style
  - Header Style
  - Footer Style
  - Paragraph style
  - Title Style
  - Navigation & Menu Style
  - Button Style
  - Box Style
  - List Style
  - Modal Style
  - Form Style
  - Separate Style
  - Animation Style
  - Media Queries Style
 **
***/
/* Bg Style
-------------------------------------------------- */
/* Header Style
-------------------------------------------------- */
/* Footer Style
-------------------------------------------------- */
/* Paragraph style
-------------------------------------------------- */
/*
 * Paragraph Style
*/
/* Atomic */
/* Atomic */
.text {
  /* Skin */
  /* State */
  /* Module */
  /* Atomic */
}

.text.orange {
  color: #E5A45B;
}

.text.center {
  text-align: center;
}

.text.note {
  color: #BC0000;
}

.text.success {
  color: #6A9E00;
}

.text .icon.ban {
  margin: 0 4px -10px 0;
}

.text strong {
  color: #DC7F28;
}

/* Atomic */
.thumbnail {
  /* State */
  /* Module */
}

.thumbnail.center {
  text-align: center;
}

.thumbnail.apbCSSType {
  margin: 40px 0;
}

/* Atomic */
.label {
  padding: 6px 0;
  font-size: 18px;
  font-weight: bold;
}

/* Title Style
-------------------------------------------------- */
/*
 * Title Style
*/
/* Atomic */
h1 {
  /* Atomic */
  /* Atomic */
  /* Atomic */
}

h1 a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  line-height: 38px;
}

h1 .mainLogo {
  float: left;
}

h1 .text {
  margin-left: 38px;
}

/* Atomic */
h2 {
  font-size: 18px;
  color: #333;
  /* State */
  /* Skin */
}

h2.center {
  text-align: center;
}

h2.yellow {
  color: #F6D667;
}

/* Atomic */
h3 {
  padding-bottom: 6px;
  border-bottom: #E5A45B 2px solid;
  font-size: 16px;
  color: #333;
}

/* Atomic */
h4 {
  padding-left: 6px;
  border-left: #E5A45B 5px solid;
  font-size: 14px;
  color: #333;
}

/* Navigation & Menu Style
-------------------------------------------------- */
/* Button Style
-------------------------------------------------- */
/*
 * Button Style
*/
/* Atomic */
.btn {
  position: relative;
  width: 200px;
  height: 40px;
  border-radius: 6px;
  /* Atomic */
  /* Module */
  /* Skin */
  /* State */
  /* Atomic */
}

.btn a {
  display: block;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.btn.primary {
  background: #404040;
  background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#282828));
  background: -webkit-linear-gradient(top, #404040, #282828);
  background: linear-gradient(top, #404040, #282828);
}

.btn.primary:hover {
  background: #303030;
}

.btn.secondly {
  background: #EEEEEE;
  -webkit-box-shadow: inset #E5E5E5 0 0 1px 1px;
  box-shadow: inset #E5E5E5 0 0 1px 1px;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#E5E5E5));
  background: -webkit-linear-gradient(top, #EEEEEE, #E5E5E5);
  background: linear-gradient(top, #EEEEEE, #E5E5E5);
}

.btn.secondly > a,
.btn.secondly > input {
  color: #000000;
}

.btn.secondly:hover {
  background: #EAEAEA;
}

.btn.green {
  background: #2A8000;
}

.btn.green:hover {
  background: #267400;
}

.btn.orange {
  background: #FA9600;
}

.btn.orange:hover {
  background: #FCAE05;
}

.btn.l {
  width: 260px;
}

.btn.center {
  margin: 0 auto;
}

.btn.disable {
  opacity: 0.4;
}

.btn .icon {
  /* Module */
}

.btn .icon.social {
  margin: 0px 6px -11px -34px;
}

/* Box Style
-------------------------------------------------- */
/* List Style
-------------------------------------------------- */
/* Icon Style
-------------------------------------------------- */
/* Modal Style
-------------------------------------------------- */
/* Separate Style
-------------------------------------------------- */
/*
 * Separate Style
*/
/* Form Style
-------------------------------------------------- */
/* Animation Style
-------------------------------------------------- */
/* Media Queries Style
-------------------------------------------------- */
