/*
 * Mixin Style
*/
/*
 * Reset Style
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

em, b {
  font-style: normal;
}

img {
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

input, select {
  vertical-align: middle;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
  line-height: 1;
  font-size: 14px;
}

/*
 * Base Style
*/
html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: arial, "Hiragino Kaku Gothic Pro", sans-serif;
}

body {
  background: #fff;
  text-align: left;
}

section {
  position: relative;
}

a {
  color: #0060C1;
}

/***
 ** Atomic Parts Contents
  - Bg Style
  - Header Style
  - Footer Style
  - Paragraph style
  - Title Style
  - Navigation & Menu Style
  - Button Style
  - Box Style
  - List Style
  - Modal Style
  - Form Style
  - Separate Style
  - Animation Style
  - Media Queries Style
 **
***/
/* Bg Style
-------------------------------------------------- */
/* Header Style
-------------------------------------------------- */
/* Footer Style
-------------------------------------------------- */
footer {
  /* Atomic */
}

footer.footer {
  padding: 20px 0;
  border-top: #333 1px solid;
}

footer.footer .text.copy {
  text-align: center;
}

/* Paragraph style
-------------------------------------------------- */
/*
 * Paragraph Style
*/
/* Atomic */
/* Atomic */
.text {
  /* Skin */
  /* State */
  /* Module */
  /* Atomic */
}

.text.orange {
  color: #E5A45B;
}

.text.center {
  text-align: center;
}

.text.note {
  color: #BC0000;
}

.text.success {
  color: #6A9E00;
}

.text .icon.ban {
  margin: 0 4px -10px 0;
}

.text strong {
  color: #DC7F28;
}

/* Atomic */
.label {
  padding: 6px 0;
  font-size: 18px;
  font-weight: bold;
}

/* thumbnail */
/* Atomic */
.thumbnail,
.thumbnail:not(img) {
  /* Skin */
  /* Skin */
  /* Skin */
  /* State */
}

.thumbnail.round img,
.thumbnail:not(img).round img {
  border-radius: 4px;
}

.thumbnail.circle img,
.thumbnail:not(img).circle img {
  border-radius: 22.5px;
}

.thumbnail.center,
.thumbnail:not(img).center {
  text-align: center;
}

img.thumbnail {
  /* Skin */
  /* Skin */
  /* Skin */
}

img.thumbnail.round {
  border-radius: 4px;
}

img.thumbnail.circle {
  border-radius: 22.5px;
}

/* Title Style
-------------------------------------------------- */
/*
 * Title Style
*/
/* Atomic */
/* Atomic */
h1.title {
  font-size: 28px;
  /* Atomic */
  /* Atomic */
  /* Atomic */
}

h1.title .mainLogo {
  float: left;
}

h1.title .text {
  margin-left: 38px;
}

/* Atomic */
h2.title {
  font-size: 24px;
  /* State */
  /* Skin */
}

h2.title.center {
  text-align: center;
}

h2.title.yellow {
  color: #F6D667;
}

/* Atomic */
h3.title {
  font-size: 22px;
}

/* Atomic */
h4.title {
  font-size: 20px;
}

/* Atomic */
h5.title {
  font-size: 18px;
}

/* Atomic */
h6.title {
  font-size: 16px;
}

/* Navigation & Menu Style
-------------------------------------------------- */
/* Button Style
-------------------------------------------------- */
/*
 * Button Style
*/
/* Atomic */
.btn,
.btn:not(a) {
  position: relative;
  width: 80px;
  /* Atomic */
  /* Skin */
  /* State */
  /* Atomic */
}

.btn > a,
.btn > button,
.btn > input,
.btn:not(a) > a,
.btn:not(a) > button,
.btn:not(a) > input {
  display: block;
  width: 100%;
  padding: 6px 12px;
  background: #fff;
  border: #e0e0e0 1px solid;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  font-size: 14px;
}

.btn.primary > a,
.btn.primary > button,
.btn.primary > input,
.btn:not(a).primary > a,
.btn:not(a).primary > button,
.btn:not(a).primary > input {
  background: #404040;
  background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#282828));
  background: -webkit-linear-gradient(top, #404040, #282828);
  background: linear-gradient(top, #404040, #282828);
  color: #fff;
}

.btn.primary > a:hover,
.btn.primary > button:hover,
.btn.primary > input:hover,
.btn:not(a).primary > a:hover,
.btn:not(a).primary > button:hover,
.btn:not(a).primary > input:hover {
  background: #303030;
}

.btn.secondly > a,
.btn.secondly > button,
.btn.secondly > input,
.btn:not(a).secondly > a,
.btn:not(a).secondly > button,
.btn:not(a).secondly > input {
  background: #EEEEEE;
  -webkit-box-shadow: inset #E5E5E5 0 0 1px 1px;
  box-shadow: inset #E5E5E5 0 0 1px 1px;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#E5E5E5));
  background: -webkit-linear-gradient(top, #EEEEEE, #E5E5E5);
  background: linear-gradient(top, #EEEEEE, #E5E5E5);
  color: #fff;
}

.btn.secondly > a > a,
.btn.secondly > a > input,
.btn.secondly > button > a,
.btn.secondly > button > input,
.btn.secondly > input > a,
.btn.secondly > input > input,
.btn:not(a).secondly > a > a,
.btn:not(a).secondly > a > input,
.btn:not(a).secondly > button > a,
.btn:not(a).secondly > button > input,
.btn:not(a).secondly > input > a,
.btn:not(a).secondly > input > input {
  color: #000000;
}

.btn.secondly > a:hover,
.btn.secondly > button:hover,
.btn.secondly > input:hover,
.btn:not(a).secondly > a:hover,
.btn:not(a).secondly > button:hover,
.btn:not(a).secondly > input:hover {
  background: #EAEAEA;
}

.btn.green > a,
.btn.green > button,
.btn.green > input,
.btn:not(a).green > a,
.btn:not(a).green > button,
.btn:not(a).green > input {
  background: #2A8000;
  color: #fff;
}

.btn.green > a:hover,
.btn.green > button:hover,
.btn.green > input:hover,
.btn:not(a).green > a:hover,
.btn:not(a).green > button:hover,
.btn:not(a).green > input:hover {
  background: #267400;
}

.btn.orange > a,
.btn.orange > button,
.btn.orange > input,
.btn:not(a).orange > a,
.btn:not(a).orange > button,
.btn:not(a).orange > input {
  background: #FA9600;
  color: #fff;
}

.btn.orange > a:hover,
.btn.orange > button:hover,
.btn.orange > input:hover,
.btn:not(a).orange > a:hover,
.btn:not(a).orange > button:hover,
.btn:not(a).orange > input:hover {
  background: #FCAE05;
}

.btn.red > a,
.btn.red > button,
.btn.red > input,
.btn:not(a).red > a,
.btn:not(a).red > button,
.btn:not(a).red > input {
  background: #FF0000;
  color: #fff;
}

.btn.red > a:hover,
.btn.red > button:hover,
.btn.red > input:hover,
.btn:not(a).red > a:hover,
.btn:not(a).red > button:hover,
.btn:not(a).red > input:hover {
  background: #FCAE05;
}

.btn.l,
.btn:not(a).l {
  width: 260px;
}

.btn.center,
.btn:not(a).center {
  margin: 0 auto;
}

.btn.disable,
.btn:not(a).disable {
  opacity: 0.4;
}

.btn .icon,
.btn:not(a) .icon {
  /* Module */
}

.btn .icon.social,
.btn:not(a) .icon.social {
  margin: 0px 6px -11px -34px;
}

/* Box Style
-------------------------------------------------- */
/* List Style
-------------------------------------------------- */
/*
 * List Style
*/
.list.disc, .list.circle, .list.square, .list.lowerRoman, .list.upperRoman, .list.lowerGreek, .list.upperRoman, .list.lowerGreek, .list.decimal, .list.decimalLeadingZero, .list.lowerLatin, .list.upperLatin, .list.lowerAlpha, .list.upperAlpha, .list.cjkIdeographic, .list.hiragana, .list.katakana, .list.hiraganaIroha, .list.katakanaIroha, .list.hebrew, .list.armenian, .list.georgian {
  padding-left: 24px;
}

.list.disc {
  list-style-type: disc;
}

.list.circle {
  list-style-type: circle;
}

.list.square {
  list-style-type: square;
}

.list.lowerRoman {
  list-style-type: lower-roman;
}

.list.upperRoman {
  list-style-type: upper-roman;
}

.list.lowerGreek {
  list-style-type: lower-greek;
}

.list.decimal {
  list-style-type: decimal;
}

.list.decimalLeadingZero {
  list-style-type: decimal-leading-zero;
}

.list.lowerLatin {
  list-style-type: lower-latin;
}

.list.upperLatin {
  list-style-type: upper-latin;
}

.list.lowerAlpha {
  list-style-type: lower-alpha;
}

.list.upperAlpha {
  list-style-type: upper-alpha;
}

.list.cjkIdeographic {
  list-style-type: cjk-ideographic;
}

.list.hiragana {
  list-style-type: hiragana;
}

.list.katakana {
  list-style-type: katakana;
}

.list.hiraganaIroha {
  list-style-type: hiragana-iroha;
}

.list.katakanaIroha {
  list-style-type: katakana-iroha;
}

.list.hebrew {
  list-style-type: hebrew;
}

.list.armenian {
  list-style-type: armenian;
}

.list.georgian {
  list-style-type: georgian;
}

/* Icon Style
-------------------------------------------------- */
/* Modal Style
-------------------------------------------------- */
/* Separate Style
-------------------------------------------------- */
/*
 * Separate Style
*/
/* Form Style
-------------------------------------------------- */
/* Animation Style
-------------------------------------------------- */
/* Media Queries Style
-------------------------------------------------- */
