/*
 * Mixin Style
*/
/***
 ** Atomic Parts Contents
  - Bg Style
  - Header Style
  - Footer Style
  - Paragraph style
  - Title Style
  - Navigation & Menu Style
  - Button Style
  - Box Style
  - List Style
  - Table Style
  - Modal Style
  - Form Style
  - Separate Style
  - Animation Style
  - Media Queries Style
 **
***/
/* Header Style
-------------------------------------------------- */
.header.docs {
  height: 60px;
  background: #333;
}

.header.docs .wrap {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}

/* Paragraph style
-------------------------------------------------- */
.times.docs {
  text-align: right;
}

/* Title Style
-------------------------------------------------- */
.title.article.sub {
  margin: 15px 0;
  padding-left: 6px;
  border-left: 3px solid #1FA2D6;
  font-size: 16px;
  line-height: 16px;
}

/* Navigation & Menu Style
-------------------------------------------------- */
.sideMenu.docs.docs {
  float: left;
  width: 230px;
}

/* Box Style
-------------------------------------------------- */
/*
 * Contents
*/
.contents.site {
  width: 1100px;
  min-height: 600px;
  margin: 0 auto;
  padding-top: 40px;
}

.contents.site::after {
  content: "";
  display: block;
  clear: both;
}

.contents.docs {
  float: left;
  width: 870px;
}

.contents.docs > h2 {
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 42px;
}

.contents.docs > h3 {
  margin: 20px 0;
  font-size: 30px;
  line-height: 1.5;
}

.contents.docs > h4 {
  margin: 20px 0;
  font-size: 24px;
  line-height: 1.5;
}

.contents.docs > p {
  margin-bottom: 10px;
  line-height: 1.6;
}

.contents.docs > pre {
  margin-bottom: 20px;
}

/*
 * Box
*/
.box.article.example {
  margin: 25px 0;
}

/* List Style
-------------------------------------------------- */
.docsHeaderMenuList {
  float: right;
  padding: 20px;
}

.docsHeaderMenuList::after {
  content: "";
  display: block;
  clear: both;
}

.docsHeaderMenuList li {
  float: left;
  padding: 0 10px;
}

.docsHeaderMenuList li a {
  color: #fff;
}

.docsIconList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.docsIconList li {
  width: 200px;
  margin-right: 15px;
  margin-bottom: 15px;
}

#top .topView {
  margin-bottom: 120px;
}

#top .topView .mainView .picture {
  padding: 60px 0 40px;
}

#top .topView .featuresView > .wrap {
  width: 1200px;
  margin: 0 auto;
  padding: 80px 0 70px;
}

#top .topView .featuresView > .wrap .title {
  margin-bottom: 45px;
}

#top .topView .featuresView > .wrap .text.description {
  margin-bottom: 60px;
}

#top .topView .featuresView.blue {
  background: #3DC0F1;
  color: #fff;
}

#top .topView .featuresView.blue .text {
  color: #fff;
}
